<div id="validation" class="validation-container clearfix" style="display: none">
    <div class="grid-row">
        <div class="validation-summary-icon">
            <img src="../assets/img/ico-alert-red.png" alt="Error">
        </div>
        <div class="validation-message">
            <h2><a id="validationSummaryAnchor" href="">Important</a></h2>
            <p>Please select one of the below options.</p>
        </div>
    </div>
</div>

<div class="grid-row grid-row-block clearfix custom-controls">
    <fieldset id="companyHasEmployee">
        <legend class="col6 has-help">Will your company have employees, or directors who will get a wage or director’s fees for their work?<a href="#help" class=" cd-btn"><img class="help-icon" src="../assets/img/ico-help-form.png" alt="Help with question" /></a></legend>
        <div class="col6 last">
            <div class="radio-toggle">
                <label class="on label-left" for="companyEmployeeYes"><input id="companyEmployeeYes" type="radio" name="companyEmployee"><span>Yes</span></label>
                <label class="off label-right" for="companyEmployeeNo"><input id="companyEmployeeNo" type="radio" name="companyEmployee"><span>No</span></label>
            </div>
        </div>
    </fieldset>
</div><!-- grid-row -->

<div class="grid-row grid-row-block clearfix custom-controls">
    <fieldset id="companyHasEmployee">
        <legend class="col6 has-help">Will you give fringe benefits to employees or directors to reward them for their work, such as a work car for private use? <a href="#help" class=" cd-btn"><img class="help-icon" src="../assets/img/ico-help-form.png" alt="Help with question" /></a></legend>
        <div class="col6 last">
            <div class="radio-toggle">
                <label class="on label-left" for="fringeBenefitsEmployeeYes"><input id="fringeBenefitsEmployeeYes" type="radio" name="fringeBenefitsEmployee"><span>Yes</span></label>
                <label class="off label-right" for="fringeBenefitsEmployeeNo"><input id="fringeBenefitsEmployeeNo" type="radio" name="fringeBenefitsEmployee"><span>No</span></label>
            </div>
        </div>
    </fieldset>
</div><!-- grid-row -->