<div id="validation" class="validation-container clearfix" style="display: none">
    <div class="grid-row">
        <div class="validation-summary-icon">
            <img src="../assets/img/ico-alert-red.png" alt="Error">
        </div>
        <div class="validation-message">
            <h2><a id="validationSummaryAnchor" href="">There was a problem</a></h2>
            <p>Please select one of the below options.</p>
        </div>
    </div>
</div>

<fieldset>
    <legend class="larger col11 has-help">Do you need to register a business name?</legend>

    <div class="grid-row grid-row-block clearfix custom-controls">
        <div class="col11">
            <p>
                <input id="name1" name="name" type="radio">
                <label for="name1">
                    <span class="push-right">
                        <strong>Yes</strong><br />
                        You need to register a business name if you want to trade under a name that's different to your company name (the legal name you give your company when you register it).<br><br>
                        For example, if your company name is Dairy Exports Pty Ltd and you want to trade under the name Fresh Dairy Products, you need to register Fresh Dairy Products as a business name.
                    </span>
                </label>
            </p>
        </div>
        <div class="col1 last padding-top-bottom">
			<a href="#help" class="cd-btn"><img class="help-icon margin-top-075" src="../assets/img/ico-help-form.png" alt="Help with question" /></a>
        </div>
    </div><!-- grid-row -->
    <div class="grid-row grid-row-last grid-row-block clearfix custom-controls">
        <div class="col11">
            <p>
                <input id="name2" name="name" type="radio">
                <label for="name2">
                    <span class="push-right">
                        <strong>No</strong><br />
                        You don't need to register a business name if you want to trade under your company name (the legal name you give your company when you register it).<br><br>
                        For example, if your company name is Dairy Exports Pty Ltd and you want to trade under this name, you don't need to register it as a business name.
                    </span>
                </label>
            </p>
        </div>
        <div class="col1 last padding-top-bottom">
			<a href="#help" class="cd-btn"><img class="help-icon margin-top-075" src="../assets/img/ico-help-form.png" alt="Help with question" /></a>
        </div>
    </div><!-- grid-row -->
</fieldset>