<div id="validation" class="validation-container clearfix" style="display: none">
    <div class="grid-row">
        <div class="validation-summary-icon">
            <img src="../assets/img/ico-alert-red.png" alt="Error">
        </div>
        <div class="validation-message">
            <h2><a id="validationSummaryAnchor" href="">Important</a></h2>
            <p>Please select one of the below options.</p>
        </div>
    </div>
</div>

<div class="grid-row grid-row-block clearfix custom-controls">
    <fieldset>
        <legend class="col6 has-help">Do you plan to have employees? (don't include independent contractors) <a href="#help" class=" cd-btn"><img class="help-icon" src="../assets/img/ico-help-form.png" alt="Help with question" /></a></legend>
        <div class="col6 last">
            <div class="radio-toggle">
                <label class="on label-left" for="employeeYes"><input id="employeeYes" type="radio" name="employee"><span>Yes</span></label>
                <label class="off label-right" for="employeeNo"><input id="employeeNo" type="radio" name="employee"><span>No</span></label>
            </div>
        </div>
    </fieldset>
</div><!-- grid-row -->

<div class="grid-row grid-row-block clearfix custom-controls" id="fringeBenefit" style="display:none">
    <fieldset>
        <legend class="col6 has-help">Do you plan to offer fringe benefits to your employees, such as a work car for private use? <a href="#help" class=" cd-btn"><img class="help-icon" src="../assets/img/ico-help-form.png" alt="Help with question" /></a></legend>
        <div class="col6 last">
            <div class="radio-toggle">
                <label class="on label-left" for="fringeBenefitYes"><input id="fringeBenefitYes" type="radio" name="fringeBenefit"><span>Yes</span></label>
                <label class="off label-right" for="fringeBenefitNo"><input id="fringeBenefitNo" type="radio" name="fringeBenefit"><span>No</span></label>
            </div>
        </div>
    </fieldset>
</div><!-- grid-row -->