<div id="validation" class="validation-container clearfix" style="display: none">
    <div class="grid-row">
        <div class="validation-summary-icon">
            <img src="../assets/img/ico-alert-red.png" alt="Error">
        </div>
        <div class="validation-message">
            <h2><a id="validationSummaryAnchor" href="">Important</a></h2>
            <p>You will need to answer all the questions below so we can help you decide.</p>
        </div>
    </div>
</div>

<!--<p>Tell us how you want to run your business and we'll suggest which business structure may suit your needs.</p>-->
<p><span style="background-color: red; color: white; font-weight: bold; text-transform: uppercase">This section is still being developed</span></p>
<div class="grid-row grid-row-block clearfix custom-controls">
    <fieldset>
        <legend class="col6 has-help">How many owners will your business have? <a href="#help" class=" cd-btn"><img class="help-icon" src="../assets/img/ico-help-form.png" alt="Help with question" /></a></legend>
        <div class="col6 last">
            <div class="radio-toggle">
                <label class="on label-left" for="radioHowManyOwners1"><input id="radioHowManyOwners1" type="radio" name="radioHowManyOwners"><span>One (just me)</span></label>
                <label class="off label-right" for="radioHowManyOwners2"><input id="radioHowManyOwners2" type="radio" name="radioHowManyOwners"><span>Two or more</span></label>
            </div>
        </div>
    </fieldset>
</div><!-- grid-row -->

<div class="grid-row grid-row-block grid-row-last clearfix custom-controls">
    <fieldset>
        <legend class="col6 has-help">Will you hold and control an asset for the benefit of others? <a href="#help" class=" cd-btn"><img class="help-icon" src="../assets/img/ico-help-form.png" alt="Help with question" /></a></legend>
        <div class="col6 last">
            <div class="radio-toggle">
                <label class="on label-left" for="radioSeparatePersonalAsset1"><input id="radioSeparatePersonalAsset1" type="radio" name="radioSeparatePersonalAsset"><span>Yes</span></label>
                <label class="off label-right" for="radioSeparatePersonalAsset2"><input id="radioSeparatePersonalAsset2" type="radio" name="radioSeparatePersonalAsset"><span>No</span></label>
            </div>
        </div>
    </fieldset>
</div><!-- grid-row -->

<div id="divExtraQuestionsForHowManyOwners" style="display: none">
    <p>Answer the following questions with the most suitable option for the type of business you want to set up. Based on your answers, the structure with the most characteristics selected might be the structure best suited to your needs. If you are still undecided on which business structure to choose, talk to a business advisor or accountant about your circumstances.</p>
    <table class="results-table custom-controls">
        <tr>
            <th>Partnership</th>
            <th>Company</th>
            <th><span class="visuallyhidden">Help</span></th>
        </tr>
        <tr>
            <td colspan="2">
                <fieldset>
                    <legend>Who makes business decisions?</legend>
                </fieldset>
            </td>
            <td><a href="#help" class=" cd-btn"><img class="help-icon" src="../assets/img/ico-help-form.png" alt="Help with question" /></a></td>
        </tr>
        <tr>
            <td>
                <p><input id="businessDecisions1" type="radio" name="businessDecisions"><label for="businessDecisions1">Partners</label></p>
            </td>
            <td>
                <p><input id="businessDecisions2" type="radio" name="businessDecisions"><label for="businessDecisions2">Directors</label></p>
            </td>
            <td>&nbsp;</td>
        </tr>
    </table>
</div>

<div id="divExtraQuestionsForHoldAssets" style="display: none">
    divExtraQuestionsForHoldAssets
</div>

    <div id="divExtraQuestions" style="display:none">
        <div class="grid-row grid-row-shaded clearfix">
            <fieldset class="margin-bottom-075">
                <legend class="col5">Do you want to use any business losses to reduce tax on future profits?</legend>
                <div class="col3">
                    <div class="form-row">
                        <input id="radioBusinessLossReduceTax1" name="radioBusinessLossReduceTax" type="radio">
                        <label for="radioBusinessLossReduceTax1">Yes</label>
                    </div><!-- form-row -->
                </div><!-- col -->
                <div class="col3">
                    <div class="form-row">
                        <input id="radioBusinessLossReduceTax2" name="radioBusinessLossReduceTax" type="radio">
                        <label for="radioBusinessLossReduceTax2">No</label>
                    </div><!-- form-row -->
                </div><!-- col -->
                <div class="col1 last">
                    <span class="form-help"><a href="#help-structure" class="cd-btn"><img src="../assets/img/ico-help-form.png" alt="" /></a></span>
                </div><!-- col last -->
            </fieldset>
        </div><!-- grid-row -->

        <div class="grid-row grid-row-shaded clearfix">
            <fieldset>
                <legend class="col5">What is most important for your business?</legend>
                <div class="col6">
                    <div>
                        <div class="form-row">
                            <input id="radioMostImportant1" name="radioMostImportant" type="radio">
                            <label for="radioMostImportant1">Investing profits back into the business</label>
                        </div>
                    </div>
                    <div>
                        <div class="form-row">
                            <input id="radioMostImportant2" name="radioMostImportant" type="radio">
                            <label for="radioMostImportant2">Protecting the business assets</label>
                        </div>
                    </div>
                </div>
                <div class="col1 last">

                </div>
            </fieldset>
        </div>
        <div class="grid-row grid-row-shaded grid-row-last clearfix">
            <fieldset>
                <legend class="col5">Do you plan to sell your business or pass it on to someone? </legend>
                <div class="col3">
                    <div class="form-row">
                        <input id="radioPlanToSellYourBusiness1" name="radioPlanToSellYourBusiness" type="radio">
                        <label for="radioPlanToSellYourBusiness1">Yes</label>
                    </div><!-- form-row -->
                </div><!-- col -->
                <div class="col3">
                    <div class="form-row">
                        <input id="radioPlanToSellYourBusiness2" name="radioPlanToSellYourBusiness" type="radio">
                        <label for="radioPlanToSellYourBusiness2">No</label>
                    </div><!-- form-row -->
                </div><!-- col -->
                <div class="col1 last">

                </div><!-- col last -->
            </fieldset>
        </div><!-- grid-row -->
    </div>
