<div id="validation" class="validation-container clearfix" style="display: none">
    <div class="grid-row">
        <div class="validation-summary-icon">
            <img src="../assets/img/ico-alert-red.png" alt="Error">
        </div>
        <div class="validation-message">
            <h2><a id="validationSummaryAnchor" href="">Important</a></h2>
            <p>You will need to answer all the questions below so we can help you decide.</p>
        </div>
    </div>
</div>

<p>Tell us how you want to run your business and we'll suggest which business structure may suit your needs.</p>

<div class="grid-row grid-row-block no-padding-bottom clearfix custom-controls">
    <fieldset>
        <legend class="col5">How many owners will your business have?</legend>
        <div class="col3">
            <p>
                <input id="radioHowManyOwners1" name="radioHowManyOwners" type="radio">
                <label for="radioHowManyOwners1">One (just me)</label>
            </p>
        </div>
        <div class="col3 last">
            <p>
                <input id="radioHowManyOwners2" name="radioHowManyOwners" type="radio">
                <label for="radioHowManyOwners2">Two or more</label>
            </p>
        </div>
        <div class="col1 last">
            <a href="#help" class="cd-btn"><img class="help-icon" src="../assets/img/ico-help-form.png" alt="Help with question" /></a>
        </div>
    </fieldset>
</div><!-- grid-row -->

<div class="grid-row grid-row-block no-padding-bottom clearfix custom-controls">
    <fieldset class="margin-bottom-075">
        <legend class="col5">Will you hold and control an asset for the benefit of others?</legend>
        <div class="col3">
            <p>
                <input id="radioSeparatePersonalAsset1" name="radioSeparatePersonalAsset" type="radio">
                <label for="radioSeparatePersonalAsset1">Yes</label>
            </p>
        </div>
        <div class="col3 last">
            <p>
                <input id="radioSeparatePersonalAsset2" name="radioSeparatePersonalAsset" type="radio">
                <label for="radioSeparatePersonalAsset2">No</label>
            </p>
        </div>
        <div class="col1 last">
            <a href="#help" class="cd-btn"><img class="help-icon" src="../assets/img/ico-help-form.png" alt="Help with question" /></a>
        </div>
    </fieldset>
</div><!-- grid-row -->


<div id="divExtraQuestions" style="display:none">
    <div class="grid-row grid-row-shaded clearfix">
        <fieldset class="margin-bottom-075">
            <legend class="col5">Do you want to use any business losses to reduce tax on future profits?</legend>
            <div class="col3">
                <div class="form-row">
                    <input id="radioBusinessLossReduceTax1" name="radioBusinessLossReduceTax" type="radio">
                    <label for="radioBusinessLossReduceTax1">Yes</label>
                </div><!-- form-row -->
            </div><!-- col -->
            <div class="col3">
                <div class="form-row">
                    <input id="radioBusinessLossReduceTax2" name="radioBusinessLossReduceTax" type="radio">
                    <label for="radioBusinessLossReduceTax2">No</label>
                </div><!-- form-row -->
            </div><!-- col -->
            <div class="col1 last">
                <span class="form-help"><a href="#help-structure" class="cd-btn"><img src="../assets/img/ico-help-form.png" alt="" /></a></span>
            </div><!-- col last -->
        </fieldset>
    </div><!-- grid-row -->

    <div class="grid-row grid-row-shaded clearfix">
        <fieldset>
            <legend class="col5">What is most important for your business?</legend>
            <div class="col6">
                <div>
                    <div class="form-row">
                        <input id="radioMostImportant1" name="radioMostImportant" type="radio">
                        <label for="radioMostImportant1">Investing profits back into the business</label>
                    </div>
                </div>
                <div>
                    <div class="form-row">
                        <input id="radioMostImportant2" name="radioMostImportant" type="radio">
                        <label for="radioMostImportant2">Protecting the business assets</label>
                    </div>
                </div>
            </div>
            <div class="col1 last">

            </div>
        </fieldset>
    </div>
    <div class="grid-row grid-row-shaded grid-row-last clearfix">
        <fieldset>
            <legend class="col5">Do you plan to sell your business or pass it on to someone? </legend>
            <div class="col3">
                <div class="form-row">
                    <input id="radioPlanToSellYourBusiness1" name="radioPlanToSellYourBusiness" type="radio">
                    <label for="radioPlanToSellYourBusiness1">Yes</label>
                </div><!-- form-row -->
            </div><!-- col -->
            <div class="col3">
                <div class="form-row">
                    <input id="radioPlanToSellYourBusiness2" name="radioPlanToSellYourBusiness" type="radio">
                    <label for="radioPlanToSellYourBusiness2">No</label>
                </div><!-- form-row -->
            </div><!-- col -->
            <div class="col1 last">

            </div><!-- col last -->
        </fieldset>
    </div><!-- grid-row -->
</div>