// ----- Layout is containers and ways of joining modules together
// ------------------------------------------------------------------------------------------------------


// Layout containers
// ------------------------------------------------------------------------------------------------------

.wrapper {
    width: 90%;
    margin: 0 5%;
    clear: both;
}

.main-container {
    // background-color: $main-content-bg;
    padding: 2em 0;
}


/* Disclaimer message on index.html */

.center-message .buttons {
  margin-top: 2.5em;
}
@media only screen and (min-width: $break-large) {
  .center-message {
    margin: 0 auto;
    width: 75%;
    max-width: $content-max-width;
  }
}



// Grid layout
// ------------------------------------------------------------------------------------------------------

.main-container article section {
    background-color: $blue-pale; 
    padding: 1em 2em;
    margin: 0 0 1em 0;
    border-radius: 2px;
    -webkit-border-radius: 2px;
}
p.button {
    margin-top: 2em;
}


/* Use flex for article column alignment on home page */

@media only screen and (min-width: $break-large) {
  .main-container article {
      display: -webkit-flex;
      -webkit-flex-wrap: wrap;
      display: flex;
      flex-wrap: wrap;

          h2 {
              padding-top: 140px;
              font-size: 150%;
              margin-bottom: 0;
              text-align: center;
          }
          p {
            text-align: center;
          }
          p.button {
            font-size: $larger;
          }
          .section-first {
              margin-left: 0;
          }
          .section-last {
              margin-right: 0;
          }

      > section {
          width: 33%;
          float: left;
          margin: 0 1em;
          display: -webkit-flex;
          -webkit-flex: 1 0 100px;
          -webkit-flex-direction: column;
          flex: 1 0 100px;
          display: flex;
          flex-direction: column;
          align-items: center;

          .stretch {
              flex: 1 1 auto;
              width: 100%;
          }
      }    
  }

@media only screen and (min-width: $break-wide) {
  .main-container article > section {
          width: 36%;
      }    
  }  
  .discovery {
      background: transparent url(../img/ico-hand.png) no-repeat 50% 1.5em;
  }
  .registrations {
      background: transparent url(../img/ico-list.png) no-repeat 50% 1.5em;
  }

}



[class*='col-'] {
  margin: 0 0 0 0;
}

@media only screen and (min-width: $break-large) {
  .col-1-4 {
    width: 23%;
  }
  .col-1-3 {
    width: 31.33%;
  }
  .col-1-2 {
    width: 48%;
  }
  .col-2-3 {
    width: 64.66%;
  }
  .col-3-4 {
    width: 73%;
  }
  [class*='col-'] {
    float: left;
    margin: 0 2% 0 0;
  }
  .last-col {
    margin: 0 0 0 0;
  }
}


// Header
// ------------------------------------------------------------------------------------------------------

header {
  background: $blue;
  color: white;
}
body.condensed header {
  height: 10px;
  color: black;
}
.header-container {
  padding: 1.25em 1em; 
}


@media only screen and (min-width: $break-large) {
  body.home header {
    background: $blue url(../img/bg-header.jpg) no-repeat 0 0;
    border-radius: 2px;
    -webkit-border-radius: 2px;
  }
  body.home header p {
    line-height: 1.3em;
    font-size: $larger;
    text-align: left;
    padding: 2em 0 2.5em 0;
  }
}
@media only screen and (min-width: $break-wide) {
  body.home header p {
    padding: 2em 0 2.5em 0;
    font-size: $largest;
  }
}


// Question and answer
// ------------------------------------------------------------------------------------------------------

.question-wrapper {
  background-color: $blue-pale; 
  padding: 0;
  margin: 0.5em 0 1em 0;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  width: 100%;
  display: table;
}
.question-row {
  background-color: $blue-pale;
  padding: 0.75em 0.5em;
  margin-bottom: 1em;
  display: table-row;
}
.question-cell {
  border-bottom: 1px solid $blue-light;
  padding: 0.75em 1em 0.5em 1em;
  display: table-cell;
}
.question-wrapper.question-cell.registration-type {
  padding-left: 1em;
}
.question-cell.choice {
  width: 40px;
  border-right: 1px solid $blue-light;
}
.question-cell.help {
  vertical-align: middle;
}
.question-cell.cost,
.question-cell.cost {
  text-align: right;
}
.question-row:hover,
.question-row:active,
.question-row:focus {
  background-color: $blue-light;
}
.results-alert-message {
  background-color: $results-alert-bg;
}



// Aside
// ------------------------------------------------------------------------------------------------------

aside.help h3 {
    background: $blue url(../img/ico-help.png) no-repeat 8px 9px;
    color: white;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    margin: 2em 0 0 0;
    padding: 10px 0 12px 51px;
}
@media only screen and (min-width: $break-large) {
  aside {
    float: right;
    width: 31.33%;
  }
  aside.help h3 {
      margin: 0;
  }
}
aside.help h4 {
  margin-top: 0.5em;
}
aside.help h4,
aside.help p {
  margin-left: 8px;
}
aside.help ul {
  margin: 0 0 1em 20px;
  padding: 0;
}
aside.help ul li {
  list-style-type: none;
  padding: 0.2em 0 0.2em 25px;
}
aside.help ul.doc li {
    background: transparent url(../img/sprite-help.png) no-repeat 0 6px;
}
aside.help ul.media {
  margin-top: 0;
}
aside.help ul.media li {
    background: transparent url(../img/sprite-help.png) no-repeat 0 -78px;
}
aside.help ul.help li {
    background: transparent url(../img/sprite-help.png) no-repeat 0 -177px;
}
aside.help ul.content {
  margin: 0 0 1em 25px;
}
aside.help ul.content li {
    background: transparent url(../img/sprite-bullet.png) no-repeat 0 0.55em;
    line-height: 1.2em;
    padding: 0.35em 0 0.35em 25px;
}
aside.help ul.content li {
    background: transparent url(../img/sprite-bullet.png) no-repeat 0 0.55em;
    line-height: 1.2em;
    padding: 0.4em 0 0.4em 25px;
}
aside.help ul.content li.current-step {
    background: transparent url(../img/sprite-bullet.png) no-repeat 0 -63px;
    font-weight: bold;
    color: black;
}
aside.help p,
aside.help li {
  font-size: $smaller;
}


/* Highlight box, ie: to advertise discovery from registration page */

.highlight {
  background-color: $highlight-bg;
  padding: 1em 0.75em 0.5em 0.75em;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  margin-bottom: 2em;
}
.highlight h2 {
    background: transparent url(../img/ico-hand-small.png) no-repeat 0 50%;  
    padding: 10px 0 12px 60px;
    font-size: 130%;
}


/* Sign in form in aside */

.sign-in {
  background-color: $blue-paler;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 1em 1em 0.5em 1em;
  margin-bottom: 2em;
}
.sign-in .form-row {
  clear: both;
  margin: 0.5em 0;
}
.sign-in .buttons {
  margin: 1.5em 0 0.5em 0;
}
.sign-in input[type=text] {
  padding: 0.35em 0.2em;
  width: 95%;
}



// Footer
// ------------------------------------------------------------------------------------------------------

footer {
  clear: both;
  border-top: 1px solid $blue-pale;
  margin: 0;
  padding: 0.5em 0;
  text-align: left;
}
footer ul {
    margin: 0;
    padding: 0;
}
footer li {
    list-style-type: none;
    font-size: $smallest;
    margin: 0.4em 0;
    padding: 0;
}
footer a,
footer a:link,
footer a:visited {
  color: $gray;
  background-color: transparent;
  text-decoration: none;
  display: block;
  padding: 0.3em 0.5em;
}
footer a:hover,
footer a:focus,
footer a:active {
  color: white;
  background-color: black;
}
footer p {
  text-align: center;
}
footer p a,
footer p a:link,
footer p a:visited {
  display: inline;
  padding: 0.3em 0.1em;
  text-decoration: underline;
}

@media only screen and (min-width: $break-large) {
    footer {
      margin: 1em 0 0 0;
    }
    footer li {
        font-size: $smaller;
        display: inline-block;
        padding: 0.1em 0;
        margin: 0.4em 0.5em 0.4em 0.5em;
    }
    footer li:last-child {
        margin: 0.4em 0 0.4em 0.5em;
    }
    footer li:first-child {
        margin: 0.4em 0.5em 0.4em 0;
    }
}