// ----- Variables is where reusable attributes are declared, such as colours and font cascades.
// ------------------------------------------------------------------------------------------------------


// Widths
// ------------------------------------------------------------------------------------------------------

$content-max-width: 1140px;
$break-small: 480px;
$break-medium: 560px;
$break-large: 960px;
$break-wide: 1200px;


// Colours
// ------------------------------------------------------------------------------------------------------

$link-fg: #000;
$link-bg: white;
$main-nav-bg: #e2e2e2;
$main-nav-fg: #666666;
$main-nav-hover-bg: black;
$main-nav-hover-fg: white;
$main-content-bg: #f2f2f2;
$font-color: black;
$bg-footer: #636563;
$required: #cc3300;
$results-alert-bg: #ffe8af;
$input-focus: #fffe9b;
$highlight-bg: #fffe9b;


$green: #378211;
$blue: #367ab3;
$blue-light: #a7c4dc;
$blue-pale: #cfdeeb;
$blue-paler: #e4ecf3;
$green-pale: #b8ffaf;
$green-paler: #d8ffd3;
$gray: #666666;
$gray-pale: #999999;
$progress-bar-colour1: rgb(203,221,236);
$progress-bar-colour2: rgb(171,201,255);

$button-start-color: #367ab3;
$button-end-color: #2a6ba1;
$button-color: white;
$button-color-secondary: #666;
$button-bg-hover: #000000;
$button-color-hover: #ffffff;


// Padding and radius
// ------------------------------------------------------------------------------------------------------

$progress-bar-radius: 6px;
$site-padding: 3%;



// Typography
// ------------------------------------------------------------------------------------------------------

$font-size-default: 1em;
$font-size-small: 1.05em;
$font-size-medium: 1.1em;
$font-size-large: 1.15em;
$font-size-wide: 1.2em;

$smaller: 90%;
$smallest: 80%;
$larger: 110%;
$largest: 130%;
$font-light: open_sanslight, helvetica, arial, sans-serif;
$font-heading: open_sansregular, helvetica, arial, sans-serif;
$line-height: 1.4;


// Mixins
// ------------------------------------------------------------------------------------------------------

@mixin transition {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}