// ----- Layout is containers and ways of joining modules together
// ------------------------------------------------------------------------------------------------------


// Layout containers
// ------------------------------------------------------------------------------------------------------

body {
    margin: 0 auto;
    max-width: $content-max-width;
}
.wrapper {
    width: 94%;
    margin: 0 3%;
    position: relative;
}
.wrapper-main {
  border-top: 2px solid #3179b5;
}


// Header
// ------------------------------------------------------------------------------------------------------

header {
  border-bottom: 10px solid $brand-blue;
}
header {
  background-color: white;
}
header .brand {
  margin: 1em 0;
}
header .brand span::before { 
  content: "\00AB  ";
}
header .brand a,
header .brand a:link,
header .brand a:visited {
    display: block;
    padding: 15px;
    background: $brand-blue;
    color: white;
    text-decoration: none;
}
header .brand a:hover,
header .brand a:focus,
header .brand a:active {
    background: $brand-hover-bg;
    color: $brand-hover-fg;
}

@media only screen and (min-width: $break-small) {
  header .brand span {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  header .brand a,
  header .brand a:link,
  header .brand a:visited {
      background: transparent url(../img/brand.png) no-repeat 0 0;
      width: 240px;
      height: 24px;
      background-size: cover;
      margin-top: 0;
  }
  header .brand a:hover,
  header .brand a:focus,
  header .brand a:active {
      background: transparent url(../img/brand.png) no-repeat 0 -86px;
      background-size: cover;
  }
}

.sub-brand {
  display: none;
}
@media only screen and (min-width: $break-medium) {
  .sub-brand {
      background: transparent url(../img/bg-sub-brand.png) no-repeat 0 0; 
      display: block;
      height: 44px;
      color: white;
      position: absolute;
      right: 0;
      font-size: 1.2rem;
  }
  .sub-brand a,
  .sub-brand a:link,
  .sub-brand a:visited {
    color: white;
    text-decoration: none;
  }
  .sub-brand a:hover,
  .sub-brand a:focus,
  .sub-brand a:active {
    background-color: transparent;
    text-decoration: underline;
  }
  .sub-brand span {
    padding: 0 1.25em 0 5.2em;
    margin-top: 0.3em;
    display: block;
  }
}

@media only screen and (min-width: $break-large) {
  header .brand a,
  header .brand a:link,
  header .brand a:visited {
      background: transparent url(../img/brand.png) no-repeat 0 0;
      width: 329px;
      height: 40px;
      margin-top: 0;
  }
  header .brand a:hover,
  header .brand a:focus,
  header .brand a:active {
      background: transparent url(../img/brand.png) no-repeat 0 -104px;
  }
}


// Group of buttons for navigating regsitration steps
// ------------------------------------------------------------------------------------------------------

.controls-container {
  border-top: 1px solid $gray-bg;
  clear: both;
  /*
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  */
  padding-top: 10px;
}
.controls-content {
    background-color: white;
    padding: 15px 0 15px 0;
    margin: 0 auto;
    max-width: $content-max-width;
}


// Footer
// ------------------------------------------------------------------------------------------------------

footer {
  clear: both;
  margin: 0;
  padding: 0;
  text-align: left;
}
footer ul {
    background: $bg-footer;
    margin: 0;
    padding: 0;
}
footer li {
    list-style-type: none;
    font-size: $smaller;
    margin: 0;
    padding: 0;
}
footer a,
footer a:link,
footer a:visited {
  color: $gray;
  background-color: transparent;
  text-decoration: none;
  display: block;
  padding: 0.5em;
}
footer a:hover,
footer a:focus,
footer a:active {
  color: white;
  background-color: black;
}
footer p {
  text-align: center;
}
footer p a,
footer p a:link,
footer p a:visited {
  display: inline;
  padding: 0.3em 0.1em;
  text-decoration: underline;
}

@media only screen and (min-width: $break-medium) {
    footer {
      margin: 2em 0 0 0;
    }
    footer li {
        display: inline-block;
        padding: 0.1em 0;
        margin: 0.4em 0.5em 0.4em 0.5em;
    }
    footer li:last-child {
        margin: 0.4em 0 0.4em 0.5em;
    }
}


// Iconography
// ------------------------------------------------------------------------------------------------------

.registration-tip {
  background: $process-alert url(../img/ico-tip-26.png) no-repeat 1em 1em;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  padding: 0.4em 2em 0.25em 3em;
  margin: 0 0 1.5em 0;
}



// Feature treatment for pricing on business names page
// ------------------------------------------------------------------------------------------------------

.pricing {
  margin: 2em 0 0 0;
  text-align: center;
}
.pricing h2 {
  color: white;
  text-transform: uppercase;
  background-color: #666;
  padding: 0.5em;
  font-size: 70%;
  margin: 0 0 1em 0;
}
.pricing strong {
  font-size: 120%;
  font-family: $font-heading;
  font-weight: bold;
}
.pricing .col6 {
  border-right: 1px solid white;
}
.pricing .col6.last {
  border: 0;
}


// Business name results
// ------------------------------------------------------------------------------------------------------

.result-container {
  background-color: $gray-bg;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  padding: 0 0 0.25em 0;
  margin: 0.5em 0 0 0;
  display: table;
  width: 100%;
}
.result-container.validation {
  padding: 1em;
}
.result-container.validation img {
  max-width: 36px;
  margin: 1em 0 0 1em;
}

main.confirmation .result-container {
  background-color: white;
  border: 1px solid $gray-bg;
}
.result-success {
  background-color: $success-bg;
}
.result-amber {
  background-color: $amber-bg;
}
.result-row input {
  display: inline-block;
}
.result-row {
  display: table-row;
}
.result-cell {
  display: table-cell;
  text-align: right;
}
.result-cell button {
  margin-right: 1em;
}
.result-icon {
  text-align: right;
  margin: 0 0.5em;
  padding: 0;
  width: 50px;
}
.result-icon img {
  vertical-align: middle;
}
.result-title {
  text-align: left;
  line-height: 1.2em;
  width: 100%;
  font-style: italic;
}
.result-title strong {
  font-weight: bold;
  font-style: normal;
}
.result-duration {
  padding-right: 0.5em;
  font-size: 1.15rem;
  width: 100px;
  width: 130px;
  display: inline-block;
}
.result-duration select {
  border: 1px solid red #cccccc;
}
.result-status p {
  background: rgba(255,255,255,.75);
  border: 1px solid #cccccc;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  color: #636563;
  margin: 0 0.5em 0 0;
  line-height: 1.4em;
  font-size: 1.15rem;
  padding: 0.3em 0.5em 0.5em 0.5em;
}
.result-added {
  width: 85px;
}
.result-remove {
  width: 40px;
}


// Dashboard styling
// ------------------------------------------------------------------------------------------------------

table .registration {
  width: 70%;
}
table .status {
  width: 30%;
}
table .details {
  width: 15%;
}
td.status-done {
  background: transparent url(../img/ico-status-done.png) no-repeat 0.5em 0.8em;
  padding-left: 50px;
}
td.status-waiting {
  background: transparent url(../img/ico-status-amber.png) no-repeat 0.5em 0.8em;
  padding-left: 50px;
}
td.status-delete {
  background: transparent url(../img/ico-delete.png) no-repeat 0.5em 0.8em;
  padding-left: 50px;
}
td.incomplete {
  background: transparent url(../img/ico-exclamation-orange.png) no-repeat 0.5em 0.7em;
  padding-left: 55px;
}


// Collapsable sections within each main registration step
// ------------------------------------------------------------------------------------------------------

.sub-section-container h2 {
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background: $gray-bg url(../img/sprite-sections.png) no-repeat 0 -7px;
  padding: 0.4em 0.5em 0.4em 60px;
  font-size: 1.5rem;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  display: block;
}

.sub-section-content {
  display: none;
}
.sub-section-open .sub-section-content  {
  display: block;
}
.sub-section-open h2 {
  background: $gray-bg url(../img/sprite-sections.png) no-repeat 0 -105px;
}
.sub-section-done h2 {
  background: $gray-bg url(../img/sprite-sections.png) no-repeat 0 -197px;
}


// Select registrations
// ------------------------------------------------------------------------------------------------------

.select-registrations fieldset {
  margin: 0 0 0.5em 0;
}
.select-registrations button {
  margin: 0 0 2em 0;
}
.select-registrations legend {
  font-size: 170%;
}


// Sideboxes on start page
// ------------------------------------------------------------------------------------------------------

.big-help-box {
  background-color: $blue-paler;
  border-radius: 6px;
  padding: 1em 1em 0 1em;
}
.big-help-box h2,
.sign-in-box h2 {
  margin: 0;
}
.sign-in-box h2 {
  font-size: 120%;
  margin-top: 1.5em;
}
.sign-in-box label {
  font-size: 90%;
  margin: 0;
}
.sign-in-box input[type=text] {
  font-size: 90%;
  padding: 0.2em 0.15em;
  margin: 0.2em 0.25em 0.2em 0;
}
.big-help-box .btn,
.sign-in-box .btn {
  padding: 0.25em 0.5em;
  font-weight: normal; 
  font-size: 85%;
  margin: 0.5em 0 2em 0; 
}
.big-help-box p,
.sign-in-box p {
  margin: 0 0 0.5em 0; 
  line-height: 1.2em;
}