<fieldset>
    <legend class="larger">Do you expect your business to do any of the following?</legend>

    <div id="validation" class="process-message process-alert validation-show" style="display:none">
        <h2 id="validation-heading">Important</h2>

        <p>Please select one of the below options to proceed</p>
        <!--<ul id="validation-list"></ul>-->
    </div>
    <div class="grid-row grid-row-shaded clearfix">
        <div class="col12">
            <div class="form-row">
                <input id="ckTurnover75k" name="ckTurnover75k" type="checkbox">
                <label for="ckTurnover75k">Have business turnover of $75,000 or more in your first year</label>
            </div><!-- form-row -->
        </div><!-- col -->
        <div class="col12">
            <p>When we say business turnover, we mean your gross business income (not your profit).</p>
        </div><!-- col -->
    </div><!-- grid-row -->

    <div class="grid-row grid-row-shaded clearfix">
        <div class="col12">
            <div class="form-row">
                <input id="ckTaxi" name="ckTaxi" type="checkbox">
                <label for="ckTaxi">Charge passengers for taxi services  </label>
            </div><!-- form-row -->
        </div><!-- col -->
        <div class="col12">
            <p>This includes ride sharing services. This <strong>doesn’t</strong> include car hire services where you don’t provide a driver.</p>
        </div><!-- col -->
    </div><!-- grid-row -->

    <div class="grid-row grid-row-shaded clearfix">
        <div class="col12">
            <div class="form-row">
                <input id="ckLimousine" name="ckLimousine" type="checkbox">
                <label for="ckLimousine">Charge passengers for limousine travel</label>
            </div><!-- form-row -->
        </div><!-- col -->
        <div class="col12">
            <p>This doesn’t include limousine hire services where you don’t provide a driver.</p>
        </div><!-- col -->
    </div><!-- grid-row -->

    <div class="grid-row grid-row-shaded clearfix">
        <div class="col12">
            <div class="form-row">
                <input id="ckDealInWine" name="ckDealInWine" type="checkbox">
                <label for="ckDealInWine">Import or sell wines</label>
            </div><!-- form-row -->
        </div><!-- col -->
        <div class="col12">
            <p>When we say wines, we mean grape wine, grape wine products such as vermouth, fruit or vegetable wines, cider, perry, mead, or sake, that has more than 1.15% ethyl alcohol.</p>
        </div><!-- col -->
    </div><!-- grid-row -->

    <div class="grid-row grid-row-shaded grid-row-last clearfix">
        <div class="col12">
            <div class="form-row">
                <input id="ckUseFule" name="ckUseFule" type="checkbox">
                <label for="ckUseFule">Use taxable fuels in factories, equipment, machinery or heavy vehicles</label>
            </div><!-- form-row -->
        </div><!-- col -->
        <div class="col12">
            <p>When we say heavy vehicles, we mean any vehicle that weighs more than 4.5 tonnes. Taxable fuels include petrol, diesel, kerosene, heating oil, mineral turpentine, liquefied petroleum gas (LPG).</p>
        </div><!-- col -->
    </div><!-- grid-row -->

    <div class="grid-row grid-row-shaded grid-row-last clearfix">
        <div class="col12">
            <div class="form-row">
                <input id="ckLuxry" name="employee" type="checkbox">
                <label for="ckLuxry">Import or sell luxury cars</label>
            </div><!-- form-row -->
        </div><!-- col -->
        <div class="col12">
            <p>Luxury cars are cars that are worth more than $63,184 (more than $75,375 for fuel-efficient vehicles).</p>
        </div><!-- col -->
    </div><!-- grid-row -->
</fieldset>