<fieldset>
    <legend class="larger col11">Will you offer fringe benefits to company directors, such as a work car for private use?</legend>
    <div class="col1 last">
        <span class="form-help outside-grid"><a href="#help-structure" class="cd-btn"><img src="../assets/img/ico-help-form.png" alt="Open help" /></a></span>
    </div>
    &nbsp;
    <div id="validation" class="process-message process-alert validation-show" style="display:none">
        <h2 id="validation-heading">Important</h2>
        <p>Please select one of the below options.</p>
        <!--<ul id="validation-list"></ul>-->
    </div>

    <div class="grid-row grid-row-shaded clearfix">
        <div class="col12">
            <div class="form-row">
                <input id="fringeBenefitsDirectorYes" name="fringeBenefitsDirector" type="radio">
                <label for="fringeBenefitsDirectorYes">Yes</label>
            </div><!-- form-row -->
        </div><!-- col -->
    </div><!-- grid-row -->
    <div class="grid-row grid-row-shaded clearfix">
        <div class="col12">
            <div class="form-row">
                <input id="fringeBenefitsDirectorNo" name="fringeBenefitsDirector" type="radio">
                <label for="fringeBenefitsDirectorNo">No</label>
            </div><!-- form-row -->
        </div><!-- col -->
    </div><!-- grid-row -->
</fieldset>

<fieldset id="companyHasEmployee" style="display:none">
    <legend class="larger col11">Do you plan to have employees? (don’t include independent contractors)</legend>
    <div class="col1 last">
        <span class="form-help outside-grid"><a href="#help-structure" class="cd-btn"><img src="../assets/img/ico-help-form.png" alt="Open help" /></a></span>
    </div>
    <div class="grid-row grid-row-shaded clearfix">
        <div class="col12">
            <div class="form-row">
                <input id="companyEmployeeYes" name="companyEmployee" type="radio">
                <label for="companyEmployeeYes">Yes</label>
            </div><!-- form-row -->
        </div><!-- col -->
    </div><!-- grid-row -->
    <div class="grid-row grid-row-shaded clearfix">
        <div class="col12">
            <div class="form-row">
                <input id="companyEmployeeNo" name="companyEmployee" type="radio">
                <label for="companyEmployeeNo">No</label>
            </div><!-- form-row -->
        </div><!-- col -->
    </div><!-- grid-row -->
</fieldset>

<fieldset id="companyFringeBenefitsToEmployee" style="display:none">
    <legend class="larger col11">Do you plan to offer fringe benefits to your employees, such as a work car for private use?</legend>
    <div class="col1 last">
        <span class="form-help outside-grid"><a href="#help-structure" class="cd-btn"><img src="../assets/img/ico-help-form.png" alt="Open help" /></a></span>
    </div>
    <div class="grid-row grid-row-shaded clearfix">
        <div class="col12">
            <div class="form-row">
                <input id="fringeBenefitsEmployeeYes" name="fringeBenefitsEmployee" type="radio">
                <label for="fringeBenefitsEmployeeYes">Yes</label>
            </div><!-- form-row -->
        </div><!-- col -->
    </div><!-- grid-row -->
    <div class="grid-row grid-row-shaded clearfix">
        <div class="col12">
            <div class="form-row">
                <input id="fringeBenefitsEmployeeNo" name="fringeBenefitsEmployee" type="radio">
                <label for="fringeBenefitsEmployeeNo">No</label>
            </div><!-- form-row -->
        </div><!-- col -->
    </div><!-- grid-row -->
</fieldset>