<fieldset>
    <legend class="larger col11">Do you plan to have employees? (include independent contractors)</legend>
    <div class="col1 last">
        <span class="form-help outside-grid"><a href="#help-structure" class="cd-btn"><img src="../assets/img/ico-help-form.png" alt="Open help" /><span class="form-help-text">Open help</span></a></span>
    </div>
    <p>&nbsp;</p>
    <div id="validation" class="process-message process-alert validation-show" style="display:none">
        <h2 id="validation-heading">Important</h2>
        <p>Please select one of the below options to proceed</p>
        <!--<ul id="validation-list"></ul>-->
        <p></p>
    </div>
    <div class="grid-row grid-row-shaded clearfix">
        <div class="col12">
            <div class="form-row">
                <input id="employeeYes" name="employee" type="radio">
                <label for="employeeYes">Yes</label>
            </div><!-- form-row -->
        </div><!-- col -->
    </div><!-- grid-row -->
    <div class="grid-row grid-row-shaded clearfix">
        <div class="col12">
            <div class="form-row">
                <input id="employeeNo" name="employee" type="radio">
                <label for="employeeNo">No</label>
            </div><!-- form-row -->
        </div><!-- col -->
    </div><!-- grid-row -->
</fieldset>

<fieldset id="fringeBenefit" style="display:none">
    <legend class="larger col11">Do you plan to offer fringe benefits to your employees, such as a work car for private use?</legend>
    <div class="col1 last">
        <span class="form-help outside-grid"><a href="#help-structure" class="cd-btn"><img src="../assets/img/ico-help-form.png" alt="Open help" /><span class="form-help-text">Open help</span></a></span>
    </div>
    <div class="grid-row grid-row-shaded clearfix">
        <div class="col12">
            <div class="form-row">
                <input id="fringeBenefitYes" name="fringeBenefit" type="radio">
                <label for="fringeBenefitYes">Yes</label>
            </div><!-- form-row -->
        </div><!-- col -->
    </div><!-- grid-row -->
    <div class="grid-row grid-row-shaded clearfix">
        <div class="col12">
            <div class="form-row">
                <input id="fringeBenefitNo" name="fringeBenefit" type="radio">
                <label for="fringeBenefitNo">No</label>
            </div><!-- form-row -->
        </div><!-- col -->
    </div><!-- grid-row -->
</fieldset>