
<p>
    Tell us how you want to run your business and we’ll suggest which business structure may suit your needs.
</p>
<div id="validation" class="process-message process-alert validation-show" style="display:none">
    <h2 id="validation-heading">Important</h2>

    <p>You will need to answer all the questions below so we can help you decide.</p>
    <!--<ul id="validation-list"></ul>-->
</div>
<div class="grid-row grid-row-shaded">
    <fieldset>
        <legend class="col5">How many owners will your business have?</legend>
        <div class="col3">
            <div class="form-row">
                <input id="radioHowManyOwners1" name="radioHowManyOwners" type="radio">
                <label for="radioHowManyOwners1">One (just me)</label>
            </div><!-- form-row -->
        </div><!-- col -->
        <div class="col3">
            <div class="form-row">
                <input id="radioHowManyOwners2" name="radioHowManyOwners" type="radio">
                <label for="radioHowManyOwners2">Two or more</label>
            </div><!-- form-row -->
        </div><!-- col -->
        <div class="col1 last">
            <span class="form-help"><a href="#help-structure" class="cd-btn"><img src="../assets/img/ico-help-form.png" alt="" /></a></span>
        </div><!-- col last -->
    </fieldset>
</div><!-- grid-row -->


<div class="grid-row grid-row-shaded clearfix">
    <fieldset>
        <legend class="col5">Do you want to separate your personal income and assets (such as your home) from your business?</legend>
        <div class="col3">
            <div class="form-row">
                <input id="radioSeparatePersonalAsset1" name="radioSeparatePersonalAsset" type="radio">
                <label for="radioSeparatePersonalAsset1">Yes</label>
            </div><!-- form-row -->
        </div><!-- col -->
        <div class="col3">
            <div class="form-row">
                <input id="radioSeparatePersonalAsset2" name="radioSeparatePersonalAsset" type="radio">
                <label for="radioSeparatePersonalAsset2">No</label>
            </div><!-- form-row -->
        </div><!-- col -->
        <div class="col1 last">
            <span class="form-help"><a href="#help-structure" class="cd-btn"><img src="../assets/img/ico-help-form.png" alt="" /></a></span>
        </div><!-- col last -->
    </fieldset>
</div><!-- grid-row -->

<div id="divExtraQuestions" style="display:none">
    <div class="grid-row grid-row-shaded clearfix">
        <fieldset>
            <legend class="col5">Do you want to use any business losses to reduce tax on future profits?</legend>
            <div class="col3">
                <div class="form-row">
                    <input id="radioBusinessLossReduceTax1" name="radioBusinessLossReduceTax" type="radio">
                    <label for="radioBusinessLossReduceTax1">Yes</label>
                </div><!-- form-row -->
            </div><!-- col -->
            <div class="col3">
                <div class="form-row">
                    <input id="radioBusinessLossReduceTax2" name="radioBusinessLossReduceTax" type="radio">
                    <label for="radioBusinessLossReduceTax2">No</label>
                </div><!-- form-row -->
            </div><!-- col -->
            <div class="col1 last">
                <span class="form-help"><a href="#help-structure" class="cd-btn"><img src="../assets/img/ico-help-form.png" alt="" /></a></span>
            </div><!-- col last -->
        </fieldset>
    </div><!-- grid-row -->

    <div class="grid-row grid-row-shaded clearfix">
        <fieldset>
            <legend class="col5">What is most important for your business?</legend>
            <div class="col6">
                <div>
                    <div class="form-row">
                        <input id="radioMostImportant1" name="radioMostImportant" type="radio">
                        <label for="radioMostImportant1">Investing profits back into the business</label>
                    </div>
                </div>
                <div>
                    <div class="form-row">
                        <input id="radioMostImportant2" name="radioMostImportant" type="radio">
                        <label for="radioMostImportant2">Protecting the business assets</label>
                    </div>
                </div>
            </div>
            <div class="col1 last">

            </div>
        </fieldset>
    </div>
</div>
