<div class="form-tip">
    <h2>Tip</h2>
    <p>Did you know? You can employ people as a sole trader!</p>
</div>

<div id="validation" class="process-message process-alert validation-show" style="display:none">
    <h2 id="validation-heading">Important</h2>

    <p>Please select one of the below options to proceed</p>
    <!--<ul id="validation-list"></ul>-->
</div>
<div class="grid-row grid-row-shaded">
    <fieldset>
        <legend class="col6">How many owners will your business have?</legend>
        <div class="col2">
            <div class="form-row">
                <input id="radioHowManyOwners1" name="radioHowManyOwners" type="radio">
                <label for="radioHowManyOwners1">One</label>
            </div><!-- form-row -->
        </div><!-- col -->
        <div class="col4 last">
            <div class="form-row">
                <input id="radioHowManyOwners2" name="radioHowManyOwners" type="radio">
                <label for="radioHowManyOwners2">Two or more</label>
            </div><!-- form-row -->
        </div><!-- col -->
    </fieldset>
</div><!-- grid-row -->

<div class="grid-row grid-row-shaded clearfix">
    <fieldset>
        <legend class="col6">Do you want to minimise your record keeping and administrative requirements?</legend>
        <div class="col2">
            <div class="form-row">
                <input id="radioAdmin1" name="radioAdmin" type="radio">
                <label for="radioAdmin1">Yes</label>
            </div><!-- form-row -->
        </div><!-- col -->
        <div class="col3">
            <div class="form-row">
                <input id="radioAdmin2" name="radioAdmin" type="radio">
                <label for="radiogroup2-radio2">No</label>
            </div><!-- form-row -->
        </div><!-- col -->
        <div class="col1 last">
            <span class="form-help"><a href="#help-structure" class="cd-btn"><img src="img/ico-help-form.png" alt="" /><span class="form-help-text">Field help</span></a></span>
        </div><!-- col last -->
    </fieldset>
</div><!-- grid-row -->

<div class="grid-row grid-row-shaded clearfix">
    <fieldset>
        <legend class="col6">Are you participating in an industry that is vulnerable to lawsuits?</legend>
        <div class="col2">
            <div class="form-row">
                <input id="radioVulnerableLawsuits1" name="radioVulnerableLawsuits" type="radio">
                <label for="radioVulnerableLawsuits1">Yes</label>
            </div><!-- form-row -->
        </div><!-- col -->
        <div class="col3">
            <div class="form-row">
                <input id="radioVulnerableLawsuits2" name="radioVulnerableLawsuits" type="radio">
                <label for="radioVulnerableLawsuits2">No</label>
            </div><!-- form-row -->
        </div><!-- col -->
        <div class="col1 last">
            <span class="form-help"><a href="#help-structure" class="cd-btn"><img src="img/ico-help-form.png" alt="" /><span class="form-help-text">Field help</span></a></span>
        </div><!-- col last -->
    </fieldset>
</div><!-- grid-row -->

<div class="grid-row grid-row-shaded clearfix">
    <fieldset>
        <legend class="col6">Do you want full control over your business decisions?</legend>
        <div class="col2">
            <div class="form-row">
                <input id="radioFullControl1" name="radioFullControl" type="radio">
                <label for="radioFullControl1">Yes</label>
            </div><!-- form-row -->
        </div><!-- col -->
        <div class="col3">
            <div class="form-row">
                <input id="radioFullControl2" name="radioFullControl" type="radio">
                <label for="radioFullControl2">No</label>
            </div><!-- form-row -->
        </div><!-- col -->
        <div class="col1 last">
            <span class="form-help"><a href="#help-structure" class="cd-btn"><img src="img/ico-help-form.png" alt="" /><span class="form-help-text">Field help</span></a></span>
        </div><!-- col last -->
    </fieldset>
</div><!-- grid-row -->
<div class="grid-row grid-row-shaded clearfix">
    <fieldset>
        <legend class="col6">Do you and your partners want full control over your business decisions?</legend>

        <div class="col2">
            <div class="form-row">
                <input id="radioWantPartner1" name="radioWantPartner" type="radio">
                <label for="radioWantPartner1">Yes</label>
            </div>
        </div>
        <div class="col3">
            <div class="form-row">
                <input id="radioWantPartner2" name="radioWantPartner" type="radio">
                <label for="radioWantPartner2">No</label>
            </div>
        </div>
        <div class="col1 last">
            <span class="form-help"><a href="#help-structure" class="cd-btn"><img src="img/ico-help-form.png" alt="" /><span class="form-help-text">Field help</span></a></span>
        </div>
    </fieldset>
</div>
<div class="grid-row grid-row-shaded grid-row-last clearfix">
    <fieldset>
        <legend class="col6">Do you want to set up a separate entity for your business?</legend>
        <div class="col2">
            <div class="form-row">
                <input id="radioSeparateEntity1" name="radioSeparateEntity" type="radio">
                <label for="radioSeparateEntity1">Yes</label>
            </div><!-- form-row -->
        </div><!-- col -->
        <div class="col3">
            <div class="form-row">
                <input id="radioSeparateEntity2" name="radioSeparateEntity" type="radio">
                <label for="radioSeparateEntity2">No</label>
            </div><!-- form-row -->
        </div><!-- col -->
        <div class="col1 last">
            <span class="form-help"><a href="#help-structure" class="cd-btn"><img src="img/ico-help-form.png" alt="" /><span class="form-help-text">Field help</span></a></span>
        </div><!-- col last -->
    </fieldset>
</div><!-- grid-row -->
