<fieldset>
    <legend class="larger col11">What name would you like your business to trade under?</legend>
    <div class="col1 last">
        <span class="form-help outside-grid"><a href="#help-structure" class="cd-btn"><img src="../assets/img/ico-help-form.png" alt="Open help" /></a></span>
    </div>
    <div class="form-tip">
        <p>This is the name that your company will be known by your customers and suppliers</p>
    </div><!-- form-tip -->
    <div id="validation" class="process-message process-alert validation-show" style="display:none">
        <h2 id="validation-heading">Important</h2>

        <p>Please select one of the below options.</p>
        <!--<ul id="validation-list"></ul>-->
    </div>
    <div class="grid-row grid-row-shaded clearfix">
        <div class="col4">
            <div class="form-row">
                <input id="name1" name="name" type="radio">
                <label for="name1">The names of all the partners</label>
            </div><!-- form-row -->
        </div><!-- col -->
        <div class="col7">
            <p> For example: Stephen White & George Black, S. White & G. Black, etc</p>
        </div><!-- col -->
    </div><!-- grid-row -->
    <div class="grid-row grid-row-shaded clearfix">
        <div class="col4">
            <div class="form-row">
                <input id="name2" name="name" type="radio">
                <label for="name2">Something else</label>
            </div><!-- form-row -->
        </div><!-- col -->
        <div class="col7">
            <p> For example: Shine Accountants, White & Black Accountants, etc</p>
        </div><!-- col -->
    </div><!-- grid-row -->

</fieldset>