<h3>Business Names</h3>
<div>
    <p>Your business name not only identifies you to your customers, but also allows you to differentiate yourself from your competitors and enables your customers to make an emotional connection to your business and brand. For many businesses, the name is often the most valuable asset. </p>
    <p>You may wish to register a business name so that you can align your business trading name with an internet domain name.</p>
    <p>If you register a business name, it will be connected to your Australian Business Number (ABN).</p>
</div>
<h3>When you must register a business name</h3>
<div>
    <h4>Company</h4>
    <p>If you're trading as a company, you'll register a company name for your company, but you will also need to register one or more business names to market and trade under a different name to your company name.</p>
    <p>For example:</p>
    <ul class="content">
        <li>‘Sainath Holdings Pty Ltd’ have both a furniture store and a plumbing business. They register the business names ‘Featured Furniture’ and ‘Practised Plumbing’ so that they can operate their business using the targeted business names instead of their company name ‘Sainath Holdings Pty Ltd’.</li>
        <li>‘Leos Cars Pty Ltd’ adds a line of camper trailers to their car sales business. They start marketing their trailers as ‘Leos Trailers’. Because ‘Leos Trailers’ is different to ‘Leos Cars Pty Ltd’ they must register the business name.</li>
    </ul>
    <h4>Sole trader, partnership or trust</h4>
    <p>If you are trading as a sole trader, partnership or a trust and your business name is different to your, or your partner's, first name and surname, then you need to register your business name.</p>
    <p>For example:</p>
    <ul class="content">
        <li>Sally Miller has a jewellery business named 'Sally Miller'. As her sole trader business is trading under her own name, she does not need to register for a business name.</li>
        <li>Jodie Hart has a floral business named 'Hart Flowers'. As her business is not trading under her own name, she will need to register the business name 'Hart Flowers'.</li>
        <li>Li and Kevin Zhang operate their electronic goods store as ‘Better Electronics’. They have formed a partnership to run the business, but as their business is trading in a name other than their own they will need to register the business name ‘Better Electronics’. </li>
    </ul>
</div>
<h3>Differences between trade marks, business and domain names</h3>
<div>
    <p>Registering a business, company or domain name does not give you any proprietary rights. Only a trade mark can provide that kind of protection.</p>
    <p>If you register a business, company or domain name, you do not automatically have the right to use that name as a trade mark.</p>
    <p>The same word(s) may be registered by different people as a business name in other states and territories. However, if you have a registered trade mark, you can take legal action for infringing your trade mark if the business name owner uses it for goods or services like those covered by your trade mark registration.</p>
    <p>Visit the IP Australia website for more information on the <a href="http://www.ipaustralia.gov.au/understanding-intellectual-property/ip-for-business/differences-between-trade-marks-business-and-domain-names/" target="_blank">differences for names and trade marks<img class="ico-external" alt="Links to another web site" src="../assets/img/ico-external.png" /></a>.</p>
</div>
