<legend class="larger">What is your business structure likely to be?</legend>
<p>When deciding on a structure for your business, choose the one that best suits your business needs, keeping in mind that there are advantages and disadvantages for each structure. </p>
<div id="validation" class="process-message process-alert validation-show" style="display:none">
    <h2 id="validation-heading">Important</h2>

    <p>Please select one of the below options.</p>
    <!--<ul id="validation-list"></ul>-->
</div>
<div class="question-wrapper">
    <div class="question-row">
        <div class="question-cell help">
            <img src="../assets/img/ico-help-form.png" class="cd-btn" />
        </div>
        <div class="question-cell help">
            <span class="toggle-nav"><a href="#help" class="cd-btn">Tell me more about business structure</a></span>
        </div>
    </div>
    <div class="question-row">
        <div class="question-cell choice">
            <input id="company-business_structure" type="radio" name="businessstructure" value="company">
        </div>
        <div class="question-cell">
            <label for="company-business_structure"><strong>Company</strong></label>
        </div>
    </div>
    <div class="question-row">
        <div class="question-cell choice">
            <input id="partnership-business_structure" type="radio" name="businessstructure" value="partnership">
        </div>
        <div class="question-cell">
            <label for="partnership-business_structure"><strong>Partnership</strong></label>
        </div>
    </div>
    <div class="question-row">
        <div class="question-cell choice">
            <input id="trust-business_structure" type="radio" name="businessstructure" value="trust">
        </div>
        <div class="question-cell">
            <label for="trust-business_structure"><strong>Trust</strong></label>
        </div>
    </div>
</div>