<legend>Will you be registering one or more business names?</legend>
<p>A business name, also known as a trading name, is simply a name or title under which a person, or other legal entity, trades. It may be a useful tool for marketing your business. </p>
<div class="question-wrapper">
<div class="question-row">
<div class="question-cell help">
<img src="img/ico-help-form.png" />
</div>
<div class="question-cell help"><span class="toggle-nav"><a href="#help" class="cd-btn">Tell me more about business names</a></span>
</div>
</div>
<div class="question-row">
<div class="question-cell choice">
<input id="yes-business_name" type="radio" name="businessname" value="yes"></div>
<div class="question-cell">
<label for="yes-business_name"><strong>Yes</strong>, I want to register one or more business names</label></div>
</div>
<div class="question-row">
<div class="question-cell choice">
<input id="no-business_name" type="radio" name="businessname" value="no"></div>
<div class="question-cell">
<label for="no-business_name"><strong>No</strong>, I don’t want to register any business names</label></div>
</div>
</div>