<h3>Four main structures</h3>
<div>
<p>The four main business structures commonly used by small businesses in Australia are:</p>
<ul class="content"><li>Sole trader: an individual trading on their own.</li>
<li>Partnership: an association of people or entities running a business together, but not as a company.</li>
<li>Trust: an entity that holds property or income for the benefit of others.</li>
<li>Company: a legal entity separate from its shareholders.</li>
</ul>
</div>
<h3>Choosing a structure</h3>
<div>
<p>It's important to investigate each option carefully, as choosing your business structure is an important decision. </p>
<p>Your business structure can determine:</p>
<ul class="content"><li>the licenses you require</li>
<li>how much tax you pay</li>
<li>whether you're considered an employee, or the owner of the business</li>
<li>your potential personal liability</li>
<li>how much control you have over the business</li>
<li>ongoing costs and volume of paper work for your business.</li>
</ul>
<p>It is important to note that you can change your business structure throughout the life of your business. As your business grows and expands, you may decide to change your business structure, or to restructure your business.</p>
<p>Obtaining legal or other professional advice can help you understand your own particular circumstances. Speak to your accountant, or use our Advisor Finder tool to find a business adviser, when deciding on your business's structure and type. It is important to determine your business structure and business type before you register a business or company as the steps may differ.</p>
</div>
<h3>Company</h3>
<div>
<p>A company is a separate legal entity, unlike a sole trader or a partnership structure. This means the company has the same rights as a natural person and can incur debt, sue and be sued. The company’s owners (the shareholders) can limit their personal liability and are generally not liable for company debts.</p>
<p>A company is a complex business structure, with higher set-up and administrative costs because of additional reporting requirements.</p>
<p>Key aspects of a company:</p>
<ul class="content"><li>Is a separate legal entity.</li>
<li>Has limited liability compared to other structures.</li>
<li>Is a more complex business structure to start and run.</li>
<li>Involves higher set up and running costs than other structures.</li>
<li>Requires you to understand and comply with all obligations under the Corporations Act 2001.</li>
<li>Means that business operations are controlled by directors and owned by the shareholders.</li>
<li>Must be registered for goods and services tax (GST) if the annual GST turnover is $75,000 or more. The registration threshold for non-profit organisations is $150,000.</li>
<li>Means the money the business earns belongs to the company.</li>
<li>Requires an annual company tax return to be lodged with the ATO.</li>
</ul>
</div>
<h3>Partnership</h3>
<div>
<p>A partnership is a business structure that involves a number of people who carry on a business together. You may choose a partnership over a sole trader structure for example, if you'll be jointly running the business with another person or a number of people (up to 20).</p>
<p>There are two types of partnerships - general and limited. Partnerships are governed by the Partnership Act 1958.</p>
<p>Key aspects of a partnership:</p>
<ul class="content"><li>It's relatively easy and inexpensive to set up.</li>
<li>It requires a separate Tax File Number (TFN).</li>
<li>If you are carrying on an enterprise, you can apply for an Australian Business Number (ABN), but this is not compulsory.</li>
<li>It's not a separate entity - like a sole trader, you and your business partners are personally liable for the debts of the business.</li>
<li>You have shared control and management of the business with your partners.</li>
<li>The partnerships doesn't pay income tax on the income earned. You and each of your partners pay tax on the share of the net partnership income you each receive.</li>
<li>Requires a partnership tax return to be lodged with the Australian Taxation Office (ATO) each year.</li>
<li>Each partner is responsible for their own superannuation arrangements - you are not an employee of the partnership.</li>
<li>You must be registered for GST if the annual income turnover is $75,000 or more.</li>
</ul>
</div>
<h3>Trust</h3>
<div>
<p>A trust is an obligation imposed on a person - a trustee - to hold property or assets (such as business assets) for the benefit of others, known as beneficiaries.</p>
<p>Key aspects of a Trust:</p>
<ul class="content"><li>can be expensive to set-up and operate.</li>
<li>require a formal trust deed that outlines how the trust operates. </li>
<li>require the trustee to undertake formal yearly administrative tasks.</li>
<li>if you operate your business as a trust, the trustee is legally responsible for its operations. A trustee of a trust can be a company, providing some asset protection</li>
</ul>
</div>
