<legend>Your registrations</legend>
<p><strong>Based on your answers,</strong> you should consider applying for the below registrations.</p>
<table class="results-table" id="resultTable">
  <caption class="visuallyhidden">Registration results</caption>
  <tr>
    <th><span class="choice visuallyhidden">Selected</span></th>
    <th class="registration-type">Registration</th>
    <th class="cost">Cost</th>
  </tr>
  <tr>
    <td class="choice results-success-message"><input id="abn" type="checkbox" checked="checked"></td>
    <td class="registration-type"><label for="abn">Australian business number (ABN)</label></td>
    <td class="cost">Nil</td>
  </tr>
</table>
<h2>What you need to know</h2>
<ul>
    <li><strong>If you're not sure about the answers you've given,</strong> it's a good idea to chat to your financial advisor or <a href="http://www.ato.gov.au">contact the Tax Office</a>, who can take into account your complete situation.</li>
    <li>We've covered the basic business and tax registrations. We'll ask for more information about your business when you apply, which will help us work out if your business should consider other registrations.</li>
</ul>
<h2>Ready to apply?</h2>
<p>Make sure the registrations you want are ticked before you start applying.</p>