<legend class="larger">Will you be registering for GST? </legend>
<p>Registering for GST might be mandatory for your business. Even if GST registration is optional there are aspects you should consider when deciding if your business will be registered for GST. </p>

<div id="validation" class="process-message process-alert validation-show" style="display:none">
    <h2 id="validation-heading">Important</h2>

    <p>Please select one of the below options to proceed</p>
    <!--<ul id="validation-list"></ul>-->
</div>

<div class="question-wrapper">
    <div class="question-row">
        <div class="question-cell help">
            <img src="../assets/img/ico-help-form.png" class="cd-btn" />
        </div>
        <div class="question-cell help">
            <span class="toggle-nav"><a href="#help" class="cd-btn">Tell me more about registering for GST</a></span>
        </div>
    </div>
    <div class="question-row">
        <div class="question-cell choice">
            <input id="yes-gst" type="radio" name="gst" value="yes">
        </div>
        <div class="question-cell">
            <label for="yes-gst"><strong>Yes</strong>, I do want to register for GST</label>
        </div>
    </div>
    <div class="question-row">
        <div class="question-cell choice">
            <input id="no-gst" type="radio" name="gst" value="no">
        </div>
        <div class="question-cell">
            <label for="no-gst"><strong>No</strong>, I do not need to register for GST</label>
        </div>
    </div>
</div>