<h3>GST for small business</h3>
<div>
<div class="video-container" style="clear: both; max-width: 853px; margin: 1.5em 0">
<iframe src="http://www.youtube.com/embed/I0pk24tSdXw" frameborder="0" width="560" height="315"></iframe>
</div>
</div>
<h3>Do I need to register?</h3>
<div>
<p>Registering for GST is mandatory for some businesses while optional for others.</p>
<p>If you're registered for GST, you're entitled to claim input tax credits for the GST paid on items you've bought for business use. If you're not registered, you can't claim input tax credits.</p>
<p>You must register for GST if you run a business or enterprise and your GST turnover is $75,000 or more ($150,000 or more for non-profit organisations). GST turnover is your business's gross income, not your business's profit.</p>
<p>It is your responsibility to register if your turnover exceeds the relevant threshold or is likely to exceed it. If you are not registered for GST, check each month to see whether you have reached your threshold. You must register within 21 days of reaching the threshold.</p>
<p>You must also register for GST, regardless of turnover, if you:</p>
<ul class="content"><li>want to claim fuel tax credits for your business</li>
<li>provide taxi travel</li>
</ul>
<p>If your GST turnover is below the threshold, registering for GST is optional. However, if you choose to register, you generally must stay registered for at least 12 months.</p>
</div>
<h3>What if I don't register for GST?</h3>
<div>
<p>If registering is optional for your business and you choose not to register, then you won't include a GST component in your prices. This means that any invoices you provide will need to show that GST was not included in the purchase price. You also can't claim GST credits for your business purchases.</p>
<p>Other considerations include:</p>
<ul class="content"><li>If you register for GST at a later date then you will need to start including GST in your pricing. This might have an impact if you have already quoted or negotiated an agreed amount with your customers and you then later need to account for the GST.</li>
<li>If you don’t register for GST but your competitor includes GST in their price, then this may be an important consideration for your customer on similarly priced goods and services if they are able to claim GST credits for your customer but not for you.</li>
<li>There are less reporting obligations for your business if you don’t register for GST.</li>
</ul>
</div>
<h3>Small business GST concessions</h3>
<div>
<p>If your business has an annual turnover of less than $2 million, you may be able to access the following GST concessions.</p>
<h4>Accounting for GST on a cash basis</h4>
<p>You can account for GST in the same tax period you receive payments from your customers and claim input tax credits for making payments to your suppliers.</p>
<h4>Paying GST by instalments</h4>
<p>You can pay GST by instalments each quarter based on what you or the Australian Tax Office (ATO) estimates your GST liability to be. You can vary this amount each quarter.</p>
<h4>Annual apportionment of GST input tax credits</h4>
<p>You can claim a full input tax credit for a business purchase that you intend to use partly for private purposes and make a single adjustment to account for the private use percentage at the end of your income year.</p>
</div>
<h3>Taxi travel</h3>
<div>
<p>'Taxi travel' means transporting passengers by taxi or limousine for fares. The requirement to register if you provide taxi travel applies to both owner drivers and people who lease a taxi on a daily or other basis.</p>
<p>GST obligations if you provide taxi travel:</p>
<ul class="content"><li>Completing your activity statement – instructions for taxi drivers</li>
<li>Activity statement payment cards</li>
<li>Taxi driver takings and expenses worksheet</li>
</ul>
<p>If your business doesn't fit into one of the above categories, you don't have to register for GST.</p>
</div>
<h3>What are GST credits?</h3>
<div>
<p>GST credits are a potential amount of money your business might be able to claim from the ATO. If you are registered for GST, you can claim back the GST that has been included in the purchase price of something you've bought for your business.</p>
</div>
<h3>I am still not sure...</h3>
<div>
<ul class="content"><li>Visit the <a href="http://ato.gov.au/" target="_blank">ATO<img class="ico-external" alt="Links to another web site" src="../assets/img/ico-external.png" /></a> for more information on <a href="http://ato.gov.au/">GST<img class="ico-external" alt="Links to another web site" src="../assets/img/ico-external.png" /></a> concessions for small business</li>
<li>Download the ATO's <a href="https://www.ato.gov.au/Business/GST/In-detail/Non-profit-and-government-organisations/Government-organisations/GST-governance-and-risk-management--Government/" target="_blank">GST Governance and Risk Management Guide<img class="ico-external" alt="Links to another web site" src="../assets/img/ico-external.png" /></a> for checklists on assessing your GST compliance and risk management processes</li>
<li>Learn more about GST, including <a href="https://www.youtube.com/user/AusTaxOffice" target="_blank">helpful videos<img class="ico-external" alt="Links to another web site" src="../assets/img/ico-external.png" /></a>, from the <a href="http://ato.gov.au/" target="_blank">ATO<img class="ico-external" alt="Links to another web site" src="../assets/img/ico-external.png" /></a></li>
<li>Speak to your accountant for more personal advice about your business and tax</li>
</ul>
</div>
