<h3>Pay As You Go withholding</h3>
<div>
    <p>Under the Pay as you go (PAYG) withholding rules, you have an obligation to collect tax from payments you make to employees and some businesses so they can meet their end-of-year tax liabilities.</p>
    <p>Visit the ATO website for more information about <a href="https://www.ato.gov.au/Business/PAYG-withholding/" target="_blank">PAYG<img class="ico-external" alt="Links to another web site" src="../assets/img/ico-external.png" /></a>.</p>
</div>
<h3>Fringe Benefits Tax</h3>
<div>
    <p>Fringe benefits tax (FBT) is a tax employers pay on certain benefits they provide to their employees, including their employees’ family or other associates. The benefit may be in addition to, or part of, their salary or wages package.</p>
    <p>If you are a director of a company or trust, benefits you receive may be subject to FBT.</p>
    <p>Fringe benefits tax is separate to income tax and is calculated on the taxable value of the fringe benefits provided.</p>
    <p>The FBT year runs from 1 April to 31 March.</p>
    <p>Visit the ATO website for more information about <a href="https://www.ato.gov.au/general/fringe-benefits-tax-(fbt)/" target="_blank">FBT<img class="ico-external" alt="Links to another web site" src="../assets/img/ico-external.png" /></a>.</p>
</div>
<h3>Luxury Car Tax</h3>
<div>
    <p>You are required to pay Luxury Car Tax (LCT) if you are registered, or required to be registered, for GST and you import or sell a luxury car – this includes retailers, wholesalers, manufacturers and other businesses that sell luxury cars or you are an individual (private buyer) and you import a luxury car.</p>
    <p>Visit the ATO website for more information about <a href="https://www.ato.gov.au/business/luxury-car-tax/" target="_blank">LCT<img class="ico-external" alt="Links to another web site" src="../assets/img/ico-external.png" /></a>.</p>
</div>
<h3>Fuel Tax Credits</h3>
<div>
    <p>Fuel tax credits provide businesses with a credit for the fuel tax (excise or customs duty) that's included in the price of fuel used in:</p>
    <ul class="content">
        <li>machinery</li>
        <li>plant</li>
        <li>equipment</li>
        <li>heavy vehicles</li>
    </ul>
    <p>Visit the ATO website for more information about <a href="https://www.ato.gov.au/Business/Fuel-schemes/Fuel-tax-credits---business/" target="_blank">fuel tax credits<img class="ico-external" alt="Links to another web site" src="../assets/img/ico-external.png" /></a>.</p>
</div>
<h3>Wine Equalisation Tax</h3>
<div>
    <p>Wine equalisation tax (WET) applies to a number of alcoholic beverages that contain more than 1.15% by volume of ethyl alcohol. For the purpose of WET, all these products are referred to as 'wine'. If you make any of these wines, import any for consumption in Australia or sell any wholesale, you normally have to pay WET.</p>
    <p>Visit the ATO website for more information about <a href="https://www.ato.gov.au/business/wine-equalisation-tax/" target="_blank">WET<img class="ico-external" alt="Links to another web site" src="../assets/img/ico-external.png" /></a>.</p>
</div>
