<legend class="larger">Select other tax registrations</legend>
<p>The following tax registrations can be included when registering your business. You should at least have a basic understanding of each to work out if they are needed for your business. </p>
<div class="question-wrapper">
    <div class="question-row">
        <div class="question-cell help">
            <img src="../assets/img/ico-help-form.png" class="cd-btn" />
        </div>
        <div class="question-cell help">
            <span class="toggle-nav"><a href="#help" class="cd-btn">Tell me more about the other tax registration types</a></span>
        </div>
    </div>
    <div class="question-row">
        <div class="question-cell choice">
            <input id="payg-other_tax" type="checkbox" name="othertax" value="payg">
        </div>
        <div class="question-cell">
            <label for="payg-other_tax"><strong>Pay As You Go withholding</strong></label>
        </div>
    </div>
    <div class="question-row">
        <div class="question-cell choice">
            <input id="fbt-other_tax" type="checkbox" name="othertax" value="fbt">
        </div>
        <div class="question-cell">
            <label for="fbt-other_tax"><strong>Fringe Benefits Tax</strong></label>
        </div>
    </div>
    <div class="question-row">
        <div class="question-cell choice">
            <input id="lct-other_tax" type="checkbox" name="othertax" value="lct">
        </div>
        <div class="question-cell">
            <label for="lct-other_tax"><strong>Luxury Car Tax</strong></label>
        </div>
    </div>
    <div class="question-row">
        <div class="question-cell choice">
            <input id="ftc-other_tax" type="checkbox" name="othertax" value="ftc">
        </div>
        <div class="question-cell">
            <label for="ftc-other_tax"><strong>Fuel Tax Credits</strong></label>
        </div>
    </div>
    <div class="question-row">
        <div class="question-cell choice">
            <input id="wet-other_tax" type="checkbox" name="othertax" value="wet">
        </div>
        <div class="question-cell">
            <label for="wet-other_tax"><strong>Wine Equalisation Tax</strong></label>
        </div>
    </div>
</div>