<h3>What is a sole trader?</h3>
<div>
<p>A sole trader is the simplest and cheapest business structure you can choose as it has few legal and tax formalities. You report the business's profits on your own individual tax return and pay tax at individual rates, not company tax rates.</p>
<p>Sole traders generally have less reporting and compliance obligations when compared to other business structures. </p>
<p>As a sole trader you are legally responsible for all aspects of the business and debts and losses cannot be shared with other individuals. You are responsible for your own super arrangements and any staff you employ.</p>
<p>As a sole trader you cannot claim deductions for money 'drawn' from the business. Amounts taken from the business are not wages for tax purposes, even if you think of them as wages.</p>
<p>If you aren't sure which business structure to choose, talk to an accountant, tax adviser, solicitor or other business adviser. You can use the <a href="http://www.business.gov.au/advice-and-support/advisor-finder/Pages/default.aspx">advisor finder</a> tool to help locate business advisors in your area.</p>
<p>You can also visit the <a href="http://www.business.gov.au/business-topics/business-structures-and-types/business-structures/sole-trader/Pages/default.aspx">business.gov.au Sole trader</a> page or the <a href="https://www.ato.gov.au/business/starting-your-own-business/choosing-your-business-structure/sole-trader/">Australian Tax Office Starting your own business</a> page to find further detailed information about sole traders.</p>
</div>
<h3>What other business structures are there?</h3>
<div>
<p>There are four commonly used business structures in Australia:</p>
<ul class="content"><li>sole trader</li>
<li>partnership</li>
<li>company</li>
<li>trust</li>
</ul>
<p>It's important to understand the responsibilities of each structure because the structure you choose may affect:</p>
<ul class="content"><li>the tax you are liable to pay</li>
<li>asset protection</li>
<li>ongoing costs</li>
<li>reporting obligations</li>
</ul>
</div>
<h3>What is the difference between a sole trader and a company?</h3>
<div>
<ul class="content"><li><a href="http://www.business.gov.au/business-topics/business-structures-and-types/changing-business-structures/sole-trader-to-a-company/difference-sole-trader-and-company/Pages/what-are-the-set-up-steps-and-costs.aspx">Set-up steps and costs</a></li>
<li><a href="http://www.business.gov.au/business-topics/business-structures-and-types/changing-business-structures/sole-trader-to-a-company/difference-sole-trader-and-company/Pages/how-is-tax-calculated.aspx">How tax is calculated</a></li>
<li><a href="http://www.business.gov.au/business-topics/business-structures-and-types/changing-business-structures/sole-trader-to-a-company/difference-sole-trader-and-company/Pages/how-is-tax-calculated.aspx">Reporting obligations, record keeping and ongoing costs</a></li>
<li><a href="http://www.business.gov.au/business-topics/business-structures-and-types/changing-business-structures/sole-trader-to-a-company/difference-sole-trader-and-company/Pages/how-is-business-income-accessed.aspx">How is business income accessed?</a></li>
<li><a href="http://www.business.gov.au/business-topics/business-structures-and-types/changing-business-structures/sole-trader-to-a-company/difference-sole-trader-and-company/Pages/who-is-liable-for-business-debts.aspx">Who is liable for business debts?</a></li>
<li><a href="http://www.business.gov.au/business-topics/business-structures-and-types/changing-business-structures/sole-trader-to-a-company/difference-sole-trader-and-company/Pages/can-I-employ-staff.aspx">Can I employ staff?</a></li>
<li><a href="http://www.business.gov.au/business-topics/business-structures-and-types/changing-business-structures/sole-trader-to-a-company/difference-sole-trader-and-company/Pages/do-I-have-full-control-over-the-business-.aspx">Do I have full control over the business?</a></li>
</ul>
</div>
<h3>Can I change from a sole trader to a company once registered?</h3>
<div>
<p>You are not locked into any structure and you can change the structure as your business changes or grows. The <a href="http://workspaces2010.res.prod.inconf.ind/iisb/BGA/BOS/SBR/Documentation/Content/teps when changing to a company">Steps when changing to a company</a> page provides some guidance on what is involved in changing from a sole trader to a company structure.</p>
</div>
<h3>Employing staff as a sole trader</h3>
<div>
<p>As a sole trader you can employ people under different employment arrangement such as casual, permanent, part-time, full-time. Each arrangement has different obligations for you as the employer. Some offer more flexibility for workers, while others provide more security for the business.</p>
<p>If you employ people, you must pay a percentage of their ordinary time earnings as Super Guarantee (SG) contributions External Site. This doesn’t include independent contractors.</p>
<p>You are also responsible for:</p>
<ul class="content"><li>taking out workers' compensation insurance to protect your employees in the event of an accident or sickness</li>
<li>adhering to Workplace Health and Safety regulations, particularly those relevant to your industry </li>
<li>ensuring your staff are Australian citizens, permanent citizens or have a visa that makes them eligible to work in Australia External Site.</li>
</ul>
<p>Visit the Australian Taxation Office's (ATO) website to read more about <a href="https://www.ato.gov.au/business/employers/preparing-to-engage-workers/">engaging workers</a>.</p>
</div>
