<legend>Select registrations</legend>
<table class="question-wrapper">
  <tr>
    <td class="choice"><input id="company" type="radio" name="structure" value="company"></td>
    <td><label for="company"><strong>Company</strong> - [ context ]</label></td>
  </tr>
  <tr>
    <td class="choice"><input id="partnership" type="radio" name="structure" value="partnership"></td>
    <td><label for="partnership"><strong>Partnership</strong> - [ context ]</label></td>
  </tr>
  <tr>
    <td class="choice"><input id="trust" type="radio" name="structure" value="trust"></td>
    <td><label for="trust"><strong>Trust</strong> - [ context ]</label></td>
  </tr>
  <tr>
    <td class="help"><img src="img/ico-help-form.png" /></td>
    <td class="help"><span class="toggle-nav"><a href="#help" class="cd-btn">Tell me more</a></span></td>
  </tr>
</table>