<legend>Will you be registering one or more business names?</legend>
<p>One or two sentence paragraph introducing the topic. This should be concise and suggest people click the help link if they require more guidance in order to answer the question.</p>
<div class="question-wrapper">
  <div class="question-row">
    <div class="question-cell help">
      <img src="img/ico-help-form.png" />
    </div>
    <div class="question-cell help">
      <span class="toggle-nav"><a href="#help" class="cd-btn">Help me understand business name registration</a></span>
    </div>
  </div>
  <div class="question-row">
    <div class="question-cell choice">
      <input id="yes-bn" type="radio" name="businessName" value="yes">
    </div>
    <div class="question-cell">
      <label for="yes-bn"><strong>Yes</strong>, I'll need either one or more business names</label>
    </div>
  </div>
  <div class="question-row">
    <div class="question-cell choice">
      <input id="no-bn" type="radio" name="businessName" value="no">
    </div>
    <div class="question-cell">
      <label for="no-bn"><strong>No</strong>, I do not need a business name</label>
    </div>
  </div>
</div>