<legend>Selected registrations</legend>
<p>Below is a summary of the registrations you selected including associated costs. If you would like to apply for these registrations click <strong>Start applying</strong>.</p> 
<div class="question-wrapper">
  <div class="question-row">
    <div class="question-cell choice">
      <input id="yes-bn" type="checkbox" name="businessName" checked="checked">
    </div>
    <div class="question-cell">
      <label for="yes-bn">Business name/s</label>
    </div>
    <div class="question-cell">
      <p>No cost</p>
    </div>
  </div>
</div>
<p class="buttons">
  <span class="button"><a href="registrations-discovery.html">Start applying</a></span>
</p>
