<p>Below is a summary of the registrations you selected including associated costs. If you would like to apply for these registrations click <strong>Start application</strong>.</p> 
<table class="question-wrapper results" id="resultTable">
  <caption class="visuallyhidden">Registration results</caption>
  <tr>
    <th><span class="visuallyhidden">Selected</span></th>
    <th class="registration-type">Registration</th>
    <th class="cost">Cost</th>
  </tr>
  <tr>
    <td class="choice results-success-message"><input id="abn" type="checkbox" checked="checked"></td>
    <td class="registration-type"><label for="abn">Australian business number (ABN)</label></td>
    <td class="cost">Nil</td>
  </tr>
</table>
<p class="buttons">
  <span class="button"><a href="registrations-discovery.html">Start application</a></span> <span class="command-link"><a href="home.html">Cancel and return to home page</a></span>
</p>
