<p>Below is a summary of the registrations you selected including associated costs. If you would like to apply for these registrations click <strong>Start application</strong>.</p> 
<table class="question-wrapper results">
  <caption class="visuallyhidden">Registration results</caption>
  <tr>
    <th><span class="visuallyhidden">Selected</span></th>
    <th class="registration-type">Registration</th>
    <th class="cost">Cost</th>
  </tr>
  <tr>
    <td class="choice results-success-message"><input id="abn" type="checkbox" checked="checked"></td>
    <td class="registration-type"><label for="abn">Australian business number (ABN)</label></td>
    <td class="cost">Nil</td>
  </tr>
  <tr>
    <td class="choice results-success-message"><input id="payg" type="checkbox" checked="checked"></td>
    <td class="registration-type"><label for="payg">Pay as you go (PAYG)</label></td>
    <td class="cost">Nil</td>
  </tr>
  <tr>
    <td class="choice results-success-message"><input id="fbt" type="checkbox" checked="checked"></td>
    <td class="registration-type"><label for="fbt">Fringe benefits tax (FBT)</label></td>
    <td class="cost">Nil</td>
  </tr>
  <tr>
    <td class="choice results-alert-message"><input id="gst" type="checkbox" checked="checked"></td>
    <td class="registration-type results-alert-message"><label for="gst">GST</label></td>
    <td class="cost results-alert-message">Nil</td>
  </tr>
  <tr>
    <td class="results-alert-message" colspan="3"><span class="smallest">We've also checked GST because you selected <strong>yes</strong> for FBT which requires you to be registered for GST. <a href="#">Uncheck GST</a></span></td>
  </tr>
</table>
<p class="buttons">
  <span class="button"><a href="registrations-discovery.html">Start application</a></span> <span class="command-link"><a href="home.html">Cancel and return to home page</a></span>
</p>
