<legend>Will you be registering for <acronym title="Goods and Services Tax">GST</acronym>?</legend>
<table class="question-wrapper">
  <tr>
    <td class="choice"><input id="yes-gst" type="radio" name="gst" value="yes-gst"></td>
    <td><label for="yes-gst"><strong>Yes</strong>, I do want to register for GST</label></td>
  </tr>
  <tr>
    <td class="choice"><input id="no-gst" type="radio" name="gst" value="no-gst"></td>
    <td><label for="no-gst"><strong>No</strong>, I do not need to register for GST</label></td>
  </tr>
  <tr>
    <td class="help"><img src="img/ico-help-form.png" /></td>
    <td class="help"><span class="toggle-nav">GST is not always required. <a href="#help" class="cd-btn">Tell me more</a></span></td>
  </tr>
</table>