<legend>Will you be registering for <acronym title="Goods and Services Tax">GST</acronym>?</legend>
<p>One or two sentence paragraph introducing the topic. This should be concise and suggest people click the help link if they require more guidance in order to answer the question.</p>
<div class="question-wrapper">
  <div class="question-row">
    <div class="question-cell help">
      <img src="img/ico-help-form.png" />
    </div>
    <div class="question-cell help">
      <span class="toggle-nav"><a href="#help" class="cd-btn">Help me understand if I need GST</a></span>
    </div>
  </div>
  <div class="question-row">
    <div class="question-cell choice">
      <input id="yes-gst" type="radio" name="gst" value="yes">
    </div>
    <div class="question-cell">
      <label for="yes-gst"><strong>Yes</strong>, I do want to register for GST</label>
    </div>
  </div>
  <div class="question-row">
    <div class="question-cell choice">
      <input id="no-gst" type="radio" name="gst" value="no">
    </div>
    <div class="question-cell">
      <label for="no-gst"><strong>No</strong>, I do not need to register for GST</label>
    </div>
  </div>
</div>