<legend>Select other tax registrations</legend>
<table class="question-wrapper">
  <tr>
    <td class="choice"><input id="payg" type="checkbox" value="payg"></td>
    <td><label for="payg"><strong>PAYG</strong> - Pay as you go withholding</label></td>
  </tr>
  <tr>
    <td class="choice"><input id="fbt" type="checkbox" value="fbt"></td>
    <td><label for="fbt"><strong>FBT</strong> - Fringe Benefits Tax</label></td>
  </tr>
  <tr>
    <td class="choice"><input id="lct" type="checkbox" value="lct"></td>
    <td><label for="lct"><strong>LCT</strong> - Luxury Car Tax</label></td>
  </tr>
  <tr>
    <td class="choice"><input id="ftc" type="checkbox" value="ftc"></td>
    <td><label for="ftc"><strong>FTC</strong> - Fuel Tax Credits</label></td>
  </tr>
  <tr>
    <td class="choice"><input id="wet" type="checkbox" value="wet"></td>
    <td><label for="wet"><strong>WET</strong> - Wine Equalisation Tax</label></td>
  </tr>
  <tr>
    <td class="help"><img src="img/ico-help-form.png" /></td>
    <td class="help"><span class="toggle-nav"><a href="#help" class="cd-btn">Explain what these are</a></span></td>
  </tr>
</table>