
<h3>What is a sole trader?</h3>
<div>
	<p>A sole trader business is usually easier and cheaper to set up and run than other business structures. You report the business's profits on your own individual tax return and pay tax at individual rates, not company tax rates.</p>
	<p>You are personally responsible for the debt of the business and may have to sell your own possessions to pay for any outstanding business debt.</p>
	<p>If you aren't sure which structure to choose, talk to an accountant, tax adviser, solicitor or other business adviser. You can use the <a href="http://www.business.gov.au/advice-and-support/advisor-finder/Pages/default.aspx">advisor finder</a> tool to help locate business advisors in your area.</p>
	<p>You can also visit the <a href="http://www.business.gov.au/business-topics/business-structures-and-types/business-structures/sole-trader/Pages/default.aspx">business.gov.au Sole Trader</a> page or the <a href="https://www.ato.gov.au/business/starting-your-own-business/choosing-your-business-structure/sole-trader/">Australian Tax Office Starting your own business</a> page to find further detailed information about sole traders.</p>
</div>
<h3>What other business structures are there?</h3>
<div>
	<p>There are four commonly used business structures in Australia:</p>
	<ul>
		<li>sole trader</li>
		<li>partnership</li>
		<li>company</li>
		<li>trust</li>
	</ul>
	<p>It's important to understand the responsibilities of each structure because the structure you choose may affect:</p>
	<ul>
		<li>the tax you are liable to pay</li>
		<li>asset protection</li>
		<li>ongoing costs</li>
	</ul>
</div>
<h3>What is the difference between a sole trader and a company?</h3>
<div>
	<ul>								
		<li><a href="http://www.business.gov.au/business-topics/business-structures-and-types/changing-business-structures/sole-trader-to-a-company/difference-sole-trader-and-company/Pages/what-are-the-set-up-steps-and-costs.aspx">Set-up steps and costs</a></li>
		<li><a href="http://www.business.gov.au/business-topics/business-structures-and-types/changing-business-structures/sole-trader-to-a-company/difference-sole-trader-and-company/Pages/how-is-tax-calculated.aspx">How tax is calculated</a></li>
		<li><a href="http://www.business.gov.au/business-topics/business-structures-and-types/changing-business-structures/sole-trader-to-a-company/difference-sole-trader-and-company/Pages/how-is-tax-calculated.aspx">Reporting obligations, record keeping and ongoing costs</a></li>
		<li><a href="http://www.business.gov.au/business-topics/business-structures-and-types/changing-business-structures/sole-trader-to-a-company/difference-sole-trader-and-company/Pages/how-is-business-income-accessed.aspx">How is business income accessed?</a></li>
		<li><a href="http://www.business.gov.au/business-topics/business-structures-and-types/changing-business-structures/sole-trader-to-a-company/difference-sole-trader-and-company/Pages/who-is-liable-for-business-debts.aspx">Who is liable for business debts?</a></li>
		<li><a href="http://www.business.gov.au/business-topics/business-structures-and-types/changing-business-structures/sole-trader-to-a-company/difference-sole-trader-and-company/Pages/can-I-employ-staff.aspx">Can I employ staff?</a></li>
		<li><a href="http://www.business.gov.au/business-topics/business-structures-and-types/changing-business-structures/sole-trader-to-a-company/difference-sole-trader-and-company/Pages/do-I-have-full-control-over-the-business-.aspx">Do I have full control over the business?</a></li>
	</ul>
</div>
<h3>Can I change from a sole trader to a company once registered?</h3>
<div>
	<p>You are not locked into any structure and you can change the structure as your business changes or grows. The <a href="http://www.business.gov.au/business-topics/business-structures-and-types/changing-business-structures/sole-trader-to-a-company/Pages/steps-when-changing-structures.aspx">Steps when changing to a company</a> page provides some guidance on what is involved in changing from a sole trader to a company structure.</p>
</div>