<legend>Will you be operating your business as a sole trader?</legend>
<table class="question-wrapper">
  <tr>
    <td class="choice"><input id="yes-soletrader" type="radio" name="soletrader" value="yes-soletrader"></td>
    <td><label for="yes-soletrader"><strong>Yes</strong>, I will be operating as a sole trader</label></td>
  </tr>
  <tr>
    <td class="choice"><input id="no-soletrader" type="radio" name="soletrader" value="no-soletrader"></td>
    <td><label for="no-soletrader"><strong>No</strong>, I will be operating as a company, partnership or trust</label></td>
  </tr>
  <tr>
    <td class="help"><img src="img/ico-help-form.png" /></td>
    <td class="help"><span class="toggle-nav"><a href="#help" class="cd-btn">Tell me more</a></span></td>
  </tr>
</table>