// ----- Layout is containers and ways of joining modules together
// ------------------------------------------------------------------------------------------------------


// Layout containers
// ------------------------------------------------------------------------------------------------------


/* Wrapper prevents content from running right to the edge of view port */
.wrapper {
    width: 94%;
    margin: 0 3%;
    clear: both;
    position: relative;
}
.wrapper-main {
  border-top: 2px solid #3179b5;
}
.main-container {
    padding: 2em 0;
}



// Flex layout
// ------------------------------------------------------------------------------------------------------

/* Use flex for article column alignment on home page */

.main-container article section {
    background-color: $blue-pale; 
    padding: 1em 2em;
    margin: 0 0 1em 0;
    border-radius: 2px;
    -webkit-border-radius: 2px;
}

@media only screen and (min-width: $break-large) {
  .main-container article {
      display: -webkit-flex;
      -webkit-flex-wrap: wrap;
      display: flex;
      flex-wrap: wrap;

          h2 {
              padding-top: 140px;
              font-size: 150%;
              margin-bottom: 0;
              text-align: center;
          }
          p {
            text-align: center;
          }
          p.button {
            font-size: $larger;
          }
          .section-first {
              margin-left: 0;
          }
          .section-last {
              margin-right: 0;
          }

      > section {
          width: 33%;
          float: left;
          margin: 0 1em;
          display: -webkit-flex;
          -webkit-flex: 1 0 100px;
          -webkit-flex-direction: column;
          flex: 1 0 100px;
          display: flex;
          flex-direction: column;
          align-items: center;

          .stretch {
              flex: 1 1 auto;
              width: 100%;
          }
      }    
  }

@media only screen and (min-width: $break-wide) {
  .main-container article > section {
          width: 36%;
      }    
  }  
  .discovery {
      background: transparent url(../img/ico-hand.png) no-repeat 50% 1.5em;
  }
  .registrations {
      background: transparent url(../img/ico-list.png) no-repeat 50% 1.5em;
  }

}


// Header
// ------------------------------------------------------------------------------------------------------

header {
  background: $blue;
  color: white;
}
header h1, header p {
  padding-left: 1em;
}
body.condensed header {
  height: 10px;
  color: black;
}


@media only screen and (min-width: $break-large) {
  body.home header {
    background: $blue url(../img/bg-header.jpg) no-repeat 0 0;
    background-size: cover;
    border-radius: 2px;
    -webkit-border-radius: 2px;
  }
  body.home header p {
    line-height: 1.3em;
    font-size: $larger;
    text-align: left;
    padding: 2em 0 2.5em 0;
  }
}
@media only screen and (min-width: $break-wide) {
  body.home header p {
    padding: 2em 0 2.5em 0;
    font-size: $largest;
  }
}


// Branding 

.brand {
  margin: 1em 0;
}
.brand span::before { 
  content: "\00AB  ";
}
.brand a,
.brand a:link,
.brand a:visited {
    display: block;
    padding: 15px;
    background: $brand-blue;
    color: white;
    text-decoration: none;
}
.brand a:hover,
.brand a:focus,
.brand a:active {
    background: $brand-hover-bg;
    color: $brand-hover-fg;
}

@media only screen and (min-width: $break-small) {
  .brand span {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .brand a,
  .brand a:link,
  .brand a:visited {
      background: transparent url(../img/brand.png) no-repeat 0 0;
      width: 240px;
      height: 24px;
      background-size: cover;
      margin-top: 0;
  }
  .brand a:hover,
  .brand a:focus,
  .brand a:active {
      background: transparent url(../img/brand.png) no-repeat 0 -86px;
      background-size: cover;
  }
}

.sub-brand {
  display: none;
}
@media only screen and (min-width: $break-medium) {
  .sub-brand {
      background: transparent url(../img/bg-sub-brand.png) no-repeat 0 0; 
      display: block;
      height: 44px;
      color: white;
      position: absolute;
      right: 0;
      font-size: 1.2rem;
  }
  .sub-brand a,
  .sub-brand a:link,
  .sub-brand a:visited {
    color: white;
    text-decoration: none;
  }
  .sub-brand a:hover,
  .sub-brand a:focus,
  .sub-brand a:active {
    background-color: transparent;
    text-decoration: underline;
  }
  .sub-brand span {
    padding: 0 1.25em 0 5.2em;
    margin-top: 0.3em;
    display: block;
  }
}

@media only screen and (min-width: $break-large) {
  .brand a,
  .brand a:link,
  .brand a:visited {
      background: transparent url(../img/brand.png) no-repeat 0 0;
      width: 329px;
      height: 40px;
      margin-top: 0;
  }
  .brand a:hover,
  .brand a:focus,
  .brand a:active {
      background: transparent url(../img/brand.png) no-repeat 0 -104px;
  }
}


// Discovery results table
// ------------------------------------------------------------------------------------------------------

.results-table {
  background-color: $blue-pale; 
  padding: 0;
  margin: 0.5em 0 1em 0; 
  width: 100%;

  th {
    background-color: $warm-grey;
    color: white;
    text-align: left;
    padding: 0.8em 0.5em 0.8em 0.5em;
    font-size: 110%;
  }
  td {
    background-color: $warm-grey-light;
    padding: 0.35em 0.5em;
    border-bottom: 1px solid $white70;
  }
}
th.choice,
td.choice {
  width: 40px;
  padding-left: 0.75em;
}
th.cost,
td.cost {
 text-align: center;     
}
td.results-alert-message {
  background-color: $results-alert-bg;
}
td.help {
  text-align: right;
}


// Aside
// ------------------------------------------------------------------------------------------------------


aside.help h4 {
  margin: 0 0 0 0;
  padding: 0;
}
aside.help ul {
  margin: 0 0 1em 20px;
  padding: 0;
}
aside.help ul li {
  list-style-type: none;
  padding: 0.2em 0 0.2em 25px;
}
aside.help ul.doc li {
    background: transparent url(../img/sprite-help.png) no-repeat 0 6px;
}
aside.help ul.media {
  margin-top: 0;
}
aside.help ul.media li {
    background: transparent url(../img/sprite-help.png) no-repeat 0 -78px;
}
aside.help ul.help li {
    background: transparent url(../img/sprite-help.png) no-repeat 0 -177px;
}
aside.help ul.content {
  margin: 0 0 1em 25px;
}
aside.help ul.content li {
    background: transparent url(../img/sprite-bullet.png) no-repeat 0 0.55em;
    line-height: 1.2em;
    padding: 0.35em 0 0.35em 25px;
}
aside.help ul.content li {
    background: transparent url(../img/sprite-bullet.png) no-repeat 0 0.55em;
    line-height: 1.2em;
    padding: 0.4em 0 0.4em 25px;
}
aside.help ul.content li.current-step {
    background: transparent url(../img/sprite-bullet.png) no-repeat 0 -63px;
    font-weight: bold;
    color: black;
}
aside.help p,
aside.help li {
  font-size: $smaller;
}
aside .video-container {
  margin-bottom: 2em;
}


/* Highlight box, ie: to advertise discovery from registration page */

.highlight {
  background-color: $highlight-bg;
  padding: 0.25em 0.75em 0.5em 0.75em;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  margin-bottom: 2em;
  margin-top: 4em;
}
.highlight h2 {
    background: transparent url(../img/ico-hand-small.png) no-repeat 0 50%;  
    padding: 10px 0 12px 60px;
    font-size: 130%;
}

/* External link icon */
img.ico-external {
  width: 18px;
  height: 13px;
  display: inline;
}


/* Sign in form in aside */

.sign-in {
  background-color: $blue-paler;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 1em 1em 0.5em 1em;
  margin-bottom: 2em;
}
.sign-in .form-row {
  clear: both;
  margin: 0.5em 0;
}
.sign-in .buttons {
  margin: 1.5em 0 0.5em 0;
}
.sign-in input[type=text] {
  padding: 0.35em 0.2em;
  width: 95%;
}



// Footer
// ------------------------------------------------------------------------------------------------------

footer {
  clear: both;
  border-top: 1px solid $blue-pale;
  margin: 0;
  padding: 0.5em 0;
  text-align: left;
}
footer ul {
    margin: 0;
    padding: 0;
}
footer li {
    list-style-type: none;
    font-size: $smaller;
    margin: 0.4em 0;
    padding: 0;
}
footer a,
footer a:link,
footer a:visited {
  color: $gray;
  background-color: transparent;
  text-decoration: none;
  display: block;
  padding: 0.3em 0.5em;
}
footer a:hover,
footer a:focus,
footer a:active {
  color: white;
  background-color: black;
}
footer p {
  text-align: center;
}
footer p a,
footer p a:link,
footer p a:visited {
  display: inline;
  padding: 0.3em 0.1em;
  text-decoration: underline;
}

@media only screen and (min-width: $break-large) {
    footer {
      margin: 1em 0 0 0;
    }
    footer li {
        display: inline-block;
        padding: 0.1em 0;
        margin: 0.4em 0.5em 0.4em 0.5em;
    }
    footer li:last-child {
        margin: 0.4em 0 0.4em 0.5em;
    }
    footer li:first-child {
        margin: 0.4em 0.5em 0.4em 0;
    }
}


// Temporary styling for prototype
// ------------------------------------------------------------------------------------------------------

/* show hide ABN entitlement page */
#ind-questions {
  display: none;
}

/* Disclaimer message on index.html */
.center-message .buttons {
  margin-top: 2.5em;
}
@media only screen and (min-width: $break-large) {
  .center-message {
    margin: 0 auto;
    width: 75%;
    max-width: $content-max-width;
  }
}
.proto-message {
  background-color: rgba(255,217,74,0.6);
  padding: 0.35em 1em;
  width: 100%;
  position: fixed;
  bottom: 0;
  text-align: center;
  font-size: $smallest;
}

// By default styling is catered toward proto B. This CSS cascades over style.css to handle layout requirements for proto A.


// Question and answer
// ------------------------------------------------------------------------------------------------------

.question-wrapper {
  background-color: #cfdeeb; 
  padding: 0;
  margin: 0.5em 0 1em 0;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  display: table;
  width: 100%;
}
.question-row {
  background-color: #cfdeeb;
  padding: 0.75em 0.5em;
  margin-bottom: 1em;
  display: table-row;
}
.compare-row {
  padding: 0;  
}
.question-cell {
  border-bottom: 1px solid #a7c4dc;
  padding: 0.75em 1em 0.5em 1em;
  display: table-cell;
}
.question-wrapper.question-cell.registration-type {
  padding-left: 1em;
}
.question-cell.choice {
  width: 40px;
  border-right: 1px solid #a7c4dc;
}
.question-cell.help {
  vertical-align: middle;
}
.question-cell.cost,
.question-cell.cost {
  text-align: right;
}

.registration-form.question-cell {
  padding: 0.5em 1em 0.25em 1em;
} 
.registration-form.question-cell.help {
  font-size: 90%;
} 
.registration-form.question-cell.help img {
  width: 28px;
  height: 28px;
}
.registration-form.question-cell.choice {
  width: 34px;
}

.question-row:hover,
.question-row:active,
.question-row:focus {
  background-color: #a7c4dc;
}
.results-alert-message {
  background-color: #ffe8af;
}


